.popupcontent {
    background: rgba(25,20,25,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.noshow{
    display: none;
}
.popupcontainerretiro{
    max-width: 700px;
    text-align: center;
    width: 100%;
    background: white;
    border-radius: 18px;
    margin: 10% auto;
    padding: 21px;
    position: relative;
    margin-top: 85px;
}
.popupcontainerdespacho{
    max-width: 400px;
    text-align: center;
    width: 100%;
    background: white;
    border-radius: 18px;
    margin: 10% auto;
    padding: 21px;
    position: relative;
    margin-top: 85px;
}
.popupagetitle{
    color: black;
    margin-top: 25px;
    font-weight: 100;
    font-size: 19px;
    margin-bottom: 4px;
    font-family: 'Mier-A-Black';
}

.popupdespacho b{
    font-family: 'Mier-A-Black';
}

.popupretiro, .popupdespacho {
    color: #716C6A;
    line-height: 16px;
    font-size: 15px;
    text-align: left;
    margin: 0 16%;
    height: 370px;
    overflow: auto;   
}

.popupretiro b{
    font-family: 'Mier-A-Black';
}

.popupclose {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 1.5rem;
    max-width: 40px;
    margin-top: 11px;
    cursor: pointer;
}

@media (max-width: 600px){
    .popupage{
        max-width: 100%;
        bottom: 0;
        top: initial;
        height: auto;
        margin-top: 38px;
    }
    .popupclose {
        position: absolute;
        top: 2px;
        right: 7px;
        font-size: 1.5rem;
        max-width: 31px;
        margin-top: 11px;
        cursor: pointer;
    }
    .popupdespacho {
        margin: 0;
        font-size: 13px;
    }
    .popupretiro {
        margin: 0;
        font-size: 13px;
    }    
}
