/* Modal product add */

.paper:has(.modal-product-add-container) {
  max-width: 662px;
  border-radius: 20px;
  padding-bottom: 5px;
}

.modal-product-add-list,
.modal-add-to-cart {
  padding-left: 78px;
  padding-right: 74px;
  display: none;
}

.modal-product-add-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.modal-product-add-container > span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: center;
  text-align: center;
  margin-top: 26px;
  gap: 11px;
}

.modal-product-add-list > .imageElement {
  width: 95px;
  height: 95px;
  object-fit: contain;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

.modal-product-add-list > div > p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #626262;
  margin: 0;
}

.modal-product-add-list > div > div > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  margin-top: 2px;
  margin-right: 5px;
}

.modal-product-add-list > div > div:first-child {
  margin-top: 0;
  margin-bottom: 8px;
}

.modal-product-add-list > div {
  width: 100%;
}


.modal-product-add-list {
  padding-top: 30px;
}

.modal-product-add-list > div > div {
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 0;
}

.modal-product-add-list .price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-product-add-list > div > div > span {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #717171;
}

.modal-add-to-cart :global(.vtex-shelf-1-x-title) {
  display: none;
}

.modal-add-to-cart > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 44px;
}

.modal-add-to-cart :global(.vtex-shelf-1-x-relatedProducts--slider-related-products) {
  margin: 0;
}

.modal-add-to-cart :global(.vtex-shelf-1-x-sliderContainer--slider-related-products) {
  padding: 0;
}

.modal-add-to-cart :global(.vtex-shelf-1-x-sliderContainer--slider-related-products) :global(.vtex-slider-0-x-dotsContainer) {
  display: none;
}

.modal-add-to-cart-close .closeButton {
  width: 100%;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 30px;
  border: solid 1px #000;
  margin-bottom: 6px;
  font-size: 12px;
}


.modal-add-to-cart-close > div {
  width: 100%;
  height: 40px;
  background: #FF0000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-add-to-cart-close > div > a {
  font-weight: bold;
  line-height: 102.5%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.modal-add-to-cart-close {
  display: flex;
  gap: 15px;
  padding: 13px 0;
  justify-content: center;
  margin: 16px 45px 0 45px;
  box-shadow: 0px -3px 9px rgb(0 0 0 / 4%);
}

/* Header modal add to cart */

.modal-product-add-header :global(.vtex-modal-layout-0-x-headerContainer) {
  position: absolute;
  right: 0;
  border: 0;
}

.modal-product-add-container {
  position: relative;
}


.modal-product-add-header :global(.vtex-modal-layout-0-x-headerContainer) .closeButton > svg {
  width: 26.89px;
  margin-right: 22px;
  margin-top: 9px;
}

.closeButton .closeButtonLabel {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .modal-product-add-header :global(.vtex-modal-layout-0-x-headerContainer) .closeButton > svg {
    margin-right: 0;
    margin-top: 0;
  }

  .modal-add-to-cart > h3{
    margin-top: 11px;
    margin-bottom: 6px;
  }

  .modal-add-to-cart-close > div{
    width: 100%;

  }

  .modal-product-add-list > div > div{
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-product-add-list {
    padding: 5px;
  }  

  .modal-add-to-cart-close {
    display: block;
  }
}
