/* /files/checkout5-custom.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


body {
  font-family: "Montserrat" !important;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #000 !important;
}

.container__logo{
  text-align:center;
  padding: 15px;
}

.table td {
  padding: 8px;
}

/*
.icon-plus-sign:before {
  content: "\f0fe ";
}

.icon-minus-sign:before:{
  content: "\f146";
}*/

#cart-title{
  text-transform: uppercase !important;
  color: #000;
}

.cart-more-options{
  margin-left: 0 !important;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background: #000;
  color: #fff !important;
  border-radius: unset;
  transition: 0.3s;
}

.btn {
  color: #fff !important;
  background: #3d3d3d !important;
  transition: 0.3s;
  border-radius: unset;
}

.monetary{
  color: #000 !important;
}

.payment-methods{text-align:center}
.card{vertical-align:middle;display:inline-block;background-image:url(/arquivos/mediodepago-co.png);background-repeat:no-repeat}
.card.pago-seguro{width:120px;height:45px;background-position:0 0}
.card.visa{width:275px;height:30px;background-position:0 }
.card.mastercard{width:50px;height:30px;background-position: -72px 0px}
.card.amex{width:35px;height:30px;background-position: -137px 0}
.card.efectivo{width:80px;height:30px;background-position: -191px 0; margin-right: 0 !important}
.card.visa.grey{width:60px;height:60px;background-position:-120px 0}
.card.mastercard.grey{width:60px;height:40px;background-position:-180px 0}
.card.amex.grey{width:40px;height:40px;background-position:-240px 0}
.card.efectivo.grey{width:110px;height:45px;background-position:-285px -40px}
.payment-group-list-btn {display: grid;}
/*#payment-data .payment-group .payment-group-list-btn .payment-group-item .payment-group-item-text:after{content:"";background:url(/arquivos/sprite_checkout.png);width:33px;height:22px;position:absolute;top:0;bottom:0;right:5px;margin:auto}*/
#payment-data .payment-group .payment-group-list-btn #payment-group-creditCardPaymentGroup .payment-group-item-text:before {content: "Tarjetas de Crédito/Débito";width: 120px;height: 22px;line-height: 13px;position: absolute;top: 0;bottom: 0;font-size: 12px;margin: auto;}
.payment-group-item-text:before {content: "";position: relative;top: 0;bottom: 0;font-size: 12px;margin: auto;}
#payment-data .payment-group .payment-group-list-btn #payment-group-creditCardPaymentGroup {order:0;position:relative;}
#payment-data .payment-group .payment-group-list-btn #payment-group-aCuotazPaymentGroup {order:2;position:relative;}
#payment-data .payment-group .payment-group-list-btn #payment-group-creditCardPaymentGroup .payment-group-item-text{font-size: 0;}
#payment-data .payment-group .payment-group-list-btn #payment-group-PagoEfectivoPaymentGroup{order:1}
#payment-data .payment-group .payment-group-list-btn #payment-group-PagoEfectivoPaymentGroup .payment-group-item-text:after{background-position:-9px -181px;height:40px}
#payment-data .payment-group .payment-group-list-btn #payment-group-PagoEfectivoPaymentGroup .payment-group-item-text{ font-size:0; }
#payment-data .payment-group .payment-group-list-btn #payment-group-PagoEfectivoPaymentGroup .payment-group-item-text:before{ content:"PagoEfectivo"; font-size:13px; display:inline-block; line-height:1; vertical-align:middle; }
#payment-data .payment-group .payment-group-list-btn #payment-group-PagoEfectivoPaymentGroup.active .payment-group-item-text:after{background-position:-59px -181px}
#payment-data .payment-group .payment-group-list-btn #payment-group-customPrivate_501PaymentGroup .payment-group-item-text:after,#payment-data .payment-group .payment-group-list-btn #payment-group-customPrivate_502PaymentGroup .payment-group-item-text:after{background-position:-109px -175px;right:7px}
#payment-data .payment-group .payment-group-list-btn #payment-group-customPrivate_501PaymentGroup.active .payment-group-item-text:after,#payment-data .payment-group .payment-group-list-btn #payment-group-customPrivate_502PaymentGroup.active .payment-group-item-text:after{background-position:-109px -200px}
#payment-data .steps-view .PagoEfectivoPaymentGroup h3{display: block!important;width: 150px;height: 34px;margin:15px 0 0 0;background: url(/arquivos/pagoEfectivo.png?v=1) -64px 0 no-repeat;font-size: 0;}
/*#payment-data .steps-view .PagoEfectivoPaymentGroup .payment-description{font-size:0}
#payment-data .steps-view .PagoEfectivoPaymentGroup .payment-description:before{ font-size:13px; content:"Se generará un código de pago que se enviará por email luego de la confirmación de la compra. El código generado será usado para el pago por su banca por internet o agencia de su banco o cualquier comercio que acepte PagoEfectivo.";display:block;margin:5px 0 15px}*/
#payment-data .steps-view .PagoEfectivoPaymentGroup .payment-description:after{content: ""; background: url(/arquivos/formasDePagoEfectivo.png?v=1) no-repeat; width:320px; height:82px; display: block; margin:0 auto 25px;}
#payment-data .steps-view .custom201PaymentGroupPaymentGroup h3 {display: block!important;width: 150px;height: 70px;margin: 0;background: url(/arquivos/fpay-logo.grande.jpg) no-repeat;font-size: 0;background-size: 100%;}
section.center.vtex-order-placed-2-x-section.vtex-order-placed-2-x-section--notices.mb9 { display: none; }

/************* Ocultar Valore sCombo Ubigeo ************/
#ship-city option[value$="Condorcanqui"],
#ship-city option[value$="Ocros"],
#ship-city option[value$="Pomabamba"],
#ship-city option[value$="Antabamba"],
#ship-city option[value$="Aymaraes"],
#ship-city option[value$="Chincheros"],
#ship-city option[value$="Cotabambas"],
#ship-city option[value$="Grau"],
#ship-city option[value$="Caravelí"],
#ship-city option[value$="Castilla"],
#ship-city option[value$="Caylloma"],
#ship-city option[value$="Condesuyos"],
#ship-city option[value$="La Uniòn"],
#ship-city option[value$="Huanca Sancos"],
#ship-city option[value$="Lucanas"],
#ship-city option[value$="Paucar del Sara Sara"],
#ship-city option[value$="Sucre"],
#ship-city option[value$="Victor Fajardo"],
#ship-city option[value$="Vilcas Huaman"],
#ship-city option[value$="Acomayo"],
#ship-city option[value$="Calca"],
#ship-city option[value$="Canas"],
#ship-city option[value$="Chumbivilcas"],
#ship-city option[value$="Paruro"],
#ship-city option[value$="Paucartambo"],
#ship-city option[value$="Quispicanchi"],
#ship-city option[value$="Churcampa"],
#ship-city option[value$="Huaytara"],
#ship-city option[value$="Huacaybamba"],
#ship-city option[value$="Lauricocha"],
#ship-city option[value$="Marañon"],
#ship-city option[value$="Puerto Inca"],
#ship-city option[value$="Yarowilca"],
#ship-city option[value$="Bolivar"],
#ship-city option[value$="Julcan"],
#ship-city option[value$="Pataz"],
#ship-city option[value$="Cajatambo"],
#ship-city option[value$="Yauyos"],
#ship-city option[value$="Datem del Marañon"],
#ship-city option[value$="Loreto"],
#ship-city option[value$="Mariscal Ramon Castilla"],
#ship-city option[value$="Requena"],
#ship-city option[value$="General Sanchez Cerr"],
#ship-city option[value$="Moho"],
#ship-city option[value$="Candarave"],
#ship-city option[value$="Jorge Basadre"],
#ship-city option[value$="Tarata"]
{display: none}

#ship-neighborhood option[value$="___010102"],
#ship-neighborhood option[value$="___010103"],
#ship-neighborhood option[value$="___010104"],
#ship-neighborhood option[value$="___010105"],
#ship-neighborhood option[value$="___010106"],
#ship-neighborhood option[value$="___010107"],
#ship-neighborhood option[value$="___010109"],
#ship-neighborhood option[value$="___010110"],
#ship-neighborhood option[value$="___010111"],
#ship-neighborhood option[value$="___010113"],
#ship-neighborhood option[value$="___010114"],
#ship-neighborhood option[value$="___010115"],
#ship-neighborhood option[value$="___010116"],
#ship-neighborhood option[value$="___010117"],
#ship-neighborhood option[value$="___010118"],
#ship-neighborhood option[value$="___010119"],
#ship-neighborhood option[value$="___010120"],
#ship-neighborhood option[value$="___010121"],
#ship-neighborhood option[value$="___010202"],
#ship-neighborhood option[value$="___010205"],
#ship-neighborhood option[value$="___010302"],
#ship-neighborhood option[value$="___010308"],
#ship-neighborhood option[value$="___010309"],
#ship-neighborhood option[value$="___010310"],
#ship-neighborhood option[value$="___010311"],
#ship-neighborhood option[value$="___010312"],
#ship-neighborhood option[value$="___010401"],
#ship-neighborhood option[value$="___010402"],
#ship-neighborhood option[value$="___010403"],
#ship-neighborhood option[value$="___010502"],
#ship-neighborhood option[value$="___010503"],
#ship-neighborhood option[value$="___010504"],
#ship-neighborhood option[value$="___010505"],
#ship-neighborhood option[value$="___010506"],
#ship-neighborhood option[value$="___010507"],
#ship-neighborhood option[value$="___010508"],
#ship-neighborhood option[value$="___010510"],
#ship-neighborhood option[value$="___010512"],
#ship-neighborhood option[value$="___010513"],
#ship-neighborhood option[value$="___010514"],
#ship-neighborhood option[value$="___010515"],
#ship-neighborhood option[value$="___010516"],
#ship-neighborhood option[value$="___010517"],
#ship-neighborhood option[value$="___010518"],
#ship-neighborhood option[value$="___010519"],
#ship-neighborhood option[value$="___010520"],
#ship-neighborhood option[value$="___010521"],
#ship-neighborhood option[value$="___010522"],
#ship-neighborhood option[value$="___010523"],
#ship-neighborhood option[value$="___010612"],
#ship-neighborhood option[value$="___010705"],
#ship-neighborhood option[value$="___010706"],
#ship-neighborhood option[value$="___010707"],
#ship-neighborhood option[value$="___020102"],
#ship-neighborhood option[value$="___020103"],
#ship-neighborhood option[value$="___020104"],
#ship-neighborhood option[value$="___020202"],
#ship-neighborhood option[value$="___020203"],
#ship-neighborhood option[value$="___020204"],
#ship-neighborhood option[value$="___020205"],
#ship-neighborhood option[value$="___020302"],
#ship-neighborhood option[value$="___020303"],
#ship-neighborhood option[value$="___020304"],
#ship-neighborhood option[value$="___020305"],
#ship-neighborhood option[value$="___020306"],
#ship-neighborhood option[value$="___020402"],
#ship-neighborhood option[value$="___020502"],
#ship-neighborhood option[value$="___020504"],
#ship-neighborhood option[value$="___020505"],
#ship-neighborhood option[value$="___020506"],
#ship-neighborhood option[value$="___020507"],
#ship-neighborhood option[value$="___020509"],
#ship-neighborhood option[value$="___020510"],
#ship-neighborhood option[value$="___020511"],
#ship-neighborhood option[value$="___020512"],
#ship-neighborhood option[value$="___020513"],
#ship-neighborhood option[value$="___020514"],
#ship-neighborhood option[value$="___020515"],
#ship-neighborhood option[value$="___020603"],
#ship-neighborhood option[value$="___020611"],
#ship-neighborhood option[value$="___020702"],
#ship-neighborhood option[value$="___020703"],
#ship-neighborhood option[value$="___020902"],
#ship-neighborhood option[value$="___020903"],
#ship-neighborhood option[value$="___020904"],
#ship-neighborhood option[value$="___020905"],
#ship-neighborhood option[value$="___020906"],
#ship-neighborhood option[value$="___020907"],
#ship-neighborhood option[value$="___021002"],
#ship-neighborhood option[value$="___021003"],
#ship-neighborhood option[value$="___021005"],
#ship-neighborhood option[value$="___021006"],
#ship-neighborhood option[value$="___021007"],
#ship-neighborhood option[value$="___021008"],
#ship-neighborhood option[value$="___021009"],
#ship-neighborhood option[value$="___021010"],
#ship-neighborhood option[value$="___021011"],
#ship-neighborhood option[value$="___021012"],
#ship-neighborhood option[value$="___021013"],
#ship-neighborhood option[value$="___021015"],
#ship-neighborhood option[value$="___021016"],
#ship-neighborhood option[value$="___021102"],
#ship-neighborhood option[value$="___021104"],
#ship-neighborhood option[value$="___021105"],
#ship-neighborhood option[value$="___021203"],
#ship-neighborhood option[value$="___021205"],
#ship-neighborhood option[value$="___021207"],
#ship-neighborhood option[value$="___021208"],
#ship-neighborhood option[value$="___021209"],
#ship-neighborhood option[value$="___021210"],
#ship-neighborhood option[value$="___021302"],
#ship-neighborhood option[value$="___021303"],
#ship-neighborhood option[value$="___021304"],
#ship-neighborhood option[value$="___021305"],
#ship-neighborhood option[value$="___021306"],
#ship-neighborhood option[value$="___021307"],
#ship-neighborhood option[value$="___021308"],
#ship-neighborhood option[value$="___021401"],
#ship-neighborhood option[value$="___021402"],
#ship-neighborhood option[value$="___021403"],
#ship-neighborhood option[value$="___021404"],
#ship-neighborhood option[value$="___021405"],
#ship-neighborhood option[value$="___021406"],
#ship-neighborhood option[value$="___021407"],
#ship-neighborhood option[value$="___021408"],
#ship-neighborhood option[value$="___021409"],
#ship-neighborhood option[value$="___021410"],
#ship-neighborhood option[value$="___021502"],
#ship-neighborhood option[value$="___021503"],
#ship-neighborhood option[value$="___021504"],
#ship-neighborhood option[value$="___021505"],
#ship-neighborhood option[value$="___021506"],
#ship-neighborhood option[value$="___021507"],
#ship-neighborhood option[value$="___021509"],
#ship-neighborhood option[value$="___021510"],
#ship-neighborhood option[value$="___021511"],
#ship-neighborhood option[value$="___021601"],
#ship-neighborhood option[value$="___021602"],
#ship-neighborhood option[value$="___021603"],
#ship-neighborhood option[value$="___021604"],
#ship-neighborhood option[value$="___021703"],
#ship-neighborhood option[value$="___021704"],
#ship-neighborhood option[value$="___021705"],
#ship-neighborhood option[value$="___021706"],
#ship-neighborhood option[value$="___021707"],
#ship-neighborhood option[value$="___021708"],
#ship-neighborhood option[value$="___021709"],
#ship-neighborhood option[value$="___021902"],
#ship-neighborhood option[value$="___021903"],
#ship-neighborhood option[value$="___021904"],
#ship-neighborhood option[value$="___021905"],
#ship-neighborhood option[value$="___021906"],
#ship-neighborhood option[value$="___021907"],
#ship-neighborhood option[value$="___021908"],
#ship-neighborhood option[value$="___021909"],
#ship-neighborhood option[value$="___021910"],
#ship-neighborhood option[value$="___022002"],
#ship-neighborhood option[value$="___022005"],
#ship-neighborhood option[value$="___022006"],
#ship-neighborhood option[value$="___022007"],
#ship-neighborhood option[value$="___022008"],
#ship-neighborhood option[value$="___030102"],
#ship-neighborhood option[value$="___030103"],
#ship-neighborhood option[value$="___030104"],
#ship-neighborhood option[value$="___030105"],
#ship-neighborhood option[value$="___030106"],
#ship-neighborhood option[value$="___030107"],
#ship-neighborhood option[value$="___030108"],
#ship-neighborhood option[value$="___030109"],
#ship-neighborhood option[value$="___030202"],
#ship-neighborhood option[value$="___030203"],
#ship-neighborhood option[value$="___030204"],
#ship-neighborhood option[value$="___030205"],
#ship-neighborhood option[value$="___030206"],
#ship-neighborhood option[value$="___030207"],
#ship-neighborhood option[value$="___030208"],
#ship-neighborhood option[value$="___030209"],
#ship-neighborhood option[value$="___030210"],
#ship-neighborhood option[value$="___030211"],
#ship-neighborhood option[value$="___030212"],
#ship-neighborhood option[value$="___030214"],
#ship-neighborhood option[value$="___030215"],
#ship-neighborhood option[value$="___030216"],
#ship-neighborhood option[value$="___030217"],
#ship-neighborhood option[value$="___030218"],
#ship-neighborhood option[value$="___030219"],
#ship-neighborhood option[value$="___030220"],
#ship-neighborhood option[value$="___030301"],
#ship-neighborhood option[value$="___030302"],
#ship-neighborhood option[value$="___030303"],
#ship-neighborhood option[value$="___030304"],
#ship-neighborhood option[value$="___030305"],
#ship-neighborhood option[value$="___030306"],
#ship-neighborhood option[value$="___030307"],
#ship-neighborhood option[value$="___030401"],
#ship-neighborhood option[value$="___030402"],
#ship-neighborhood option[value$="___030403"],
#ship-neighborhood option[value$="___030404"],
#ship-neighborhood option[value$="___030405"],
#ship-neighborhood option[value$="___030406"],
#ship-neighborhood option[value$="___030407"],
#ship-neighborhood option[value$="___030408"],
#ship-neighborhood option[value$="___030409"],
#ship-neighborhood option[value$="___030410"],
#ship-neighborhood option[value$="___030411"],
#ship-neighborhood option[value$="___030412"],
#ship-neighborhood option[value$="___030413"],
#ship-neighborhood option[value$="___030414"],
#ship-neighborhood option[value$="___030415"],
#ship-neighborhood option[value$="___030416"],
#ship-neighborhood option[value$="___030417"],
#ship-neighborhood option[value$="___030501"],
#ship-neighborhood option[value$="___030502"],
#ship-neighborhood option[value$="___030503"],
#ship-neighborhood option[value$="___030504"],
#ship-neighborhood option[value$="___030505"],
#ship-neighborhood option[value$="___030506"],
#ship-neighborhood option[value$="___030601"],
#ship-neighborhood option[value$="___030602"],
#ship-neighborhood option[value$="___030603"],
#ship-neighborhood option[value$="___030604"],
#ship-neighborhood option[value$="___030605"],
#ship-neighborhood option[value$="___030606"],
#ship-neighborhood option[value$="___030607"],
#ship-neighborhood option[value$="___030608"],
#ship-neighborhood option[value$="___030609"],
#ship-neighborhood option[value$="___030610"],
#ship-neighborhood option[value$="___030611"],
#ship-neighborhood option[value$="___030701"],
#ship-neighborhood option[value$="___030702"],
#ship-neighborhood option[value$="___030703"],
#ship-neighborhood option[value$="___030704"],
#ship-neighborhood option[value$="___030705"],
#ship-neighborhood option[value$="___030706"],
#ship-neighborhood option[value$="___030707"],
#ship-neighborhood option[value$="___030708"],
#ship-neighborhood option[value$="___030709"],
#ship-neighborhood option[value$="___030710"],
#ship-neighborhood option[value$="___030711"],
#ship-neighborhood option[value$="___030712"],
#ship-neighborhood option[value$="___030713"],
#ship-neighborhood option[value$="___030714"],
#ship-neighborhood option[value$="___040206"],
#ship-neighborhood option[value$="___040207"],
#ship-neighborhood option[value$="___040301"],
#ship-neighborhood option[value$="___040302"],
#ship-neighborhood option[value$="___040303"],
#ship-neighborhood option[value$="___040304"],
#ship-neighborhood option[value$="___040305"],
#ship-neighborhood option[value$="___040306"],
#ship-neighborhood option[value$="___040307"],
#ship-neighborhood option[value$="___040308"],
#ship-neighborhood option[value$="___040309"],
#ship-neighborhood option[value$="___040310"],
#ship-neighborhood option[value$="___040311"],
#ship-neighborhood option[value$="___040312"],
#ship-neighborhood option[value$="___040313"],
#ship-neighborhood option[value$="___040401"],
#ship-neighborhood option[value$="___040402"],
#ship-neighborhood option[value$="___040403"],
#ship-neighborhood option[value$="___040404"],
#ship-neighborhood option[value$="___040405"],
#ship-neighborhood option[value$="___040406"],
#ship-neighborhood option[value$="___040407"],
#ship-neighborhood option[value$="___040408"],
#ship-neighborhood option[value$="___040409"],
#ship-neighborhood option[value$="___040410"],
#ship-neighborhood option[value$="___040411"],
#ship-neighborhood option[value$="___040412"],
#ship-neighborhood option[value$="___040413"],
#ship-neighborhood option[value$="___040414"],
#ship-neighborhood option[value$="___040501"],
#ship-neighborhood option[value$="___040502"],
#ship-neighborhood option[value$="___040503"],
#ship-neighborhood option[value$="___040504"],
#ship-neighborhood option[value$="___040505"],
#ship-neighborhood option[value$="___040506"],
#ship-neighborhood option[value$="___040507"],
#ship-neighborhood option[value$="___040508"],
#ship-neighborhood option[value$="___040509"],
#ship-neighborhood option[value$="___040510"],
#ship-neighborhood option[value$="___040511"],
#ship-neighborhood option[value$="___040512"],
#ship-neighborhood option[value$="___040513"],
#ship-neighborhood option[value$="___040514"],
#ship-neighborhood option[value$="___040515"],
#ship-neighborhood option[value$="___040516"],
#ship-neighborhood option[value$="___040517"],
#ship-neighborhood option[value$="___040518"],
#ship-neighborhood option[value$="___040519"],
#ship-neighborhood option[value$="___040520"],
#ship-neighborhood option[value$="___040601"],
#ship-neighborhood option[value$="___040602"],
#ship-neighborhood option[value$="___040603"],
#ship-neighborhood option[value$="___040604"],
#ship-neighborhood option[value$="___040605"],
#ship-neighborhood option[value$="___040606"],
#ship-neighborhood option[value$="___040607"],
#ship-neighborhood option[value$="___040608"],
#ship-neighborhood option[value$="___040801"],
#ship-neighborhood option[value$="___040802"],
#ship-neighborhood option[value$="___040803"],
#ship-neighborhood option[value$="___040804"],
#ship-neighborhood option[value$="___040805"],
#ship-neighborhood option[value$="___040806"],
#ship-neighborhood option[value$="___040807"],
#ship-neighborhood option[value$="___040808"],
#ship-neighborhood option[value$="___040809"],
#ship-neighborhood option[value$="___040810"],
#ship-neighborhood option[value$="___040811"],
#ship-neighborhood option[value$="___050112"],
#ship-neighborhood option[value$="___050114"],
#ship-neighborhood option[value$="___050301"],
#ship-neighborhood option[value$="___050302"],
#ship-neighborhood option[value$="___050303"],
#ship-neighborhood option[value$="___050304"],
#ship-neighborhood option[value$="___050402"],
#ship-neighborhood option[value$="___050405"],
#ship-neighborhood option[value$="___050406"],
#ship-neighborhood option[value$="___050407"],
#ship-neighborhood option[value$="___050408"],
#ship-neighborhood option[value$="___050409"],
#ship-neighborhood option[value$="___050410"],
#ship-neighborhood option[value$="___050411"],
#ship-neighborhood option[value$="___050412"],
#ship-neighborhood option[value$="___050502"],
#ship-neighborhood option[value$="___050504"],
#ship-neighborhood option[value$="___050506"],
#ship-neighborhood option[value$="___050507"],
#ship-neighborhood option[value$="___050508"],
#ship-neighborhood option[value$="___050509"],
#ship-neighborhood option[value$="___050510"],
#ship-neighborhood option[value$="___050511"],
#ship-neighborhood option[value$="___050601"],
#ship-neighborhood option[value$="___050602"],
#ship-neighborhood option[value$="___050603"],
#ship-neighborhood option[value$="___050604"],
#ship-neighborhood option[value$="___050605"],
#ship-neighborhood option[value$="___050606"],
#ship-neighborhood option[value$="___050607"],
#ship-neighborhood option[value$="___050608"],
#ship-neighborhood option[value$="___050609"],
#ship-neighborhood option[value$="___050610"],
#ship-neighborhood option[value$="___050611"],
#ship-neighborhood option[value$="___050612"],
#ship-neighborhood option[value$="___050613"],
#ship-neighborhood option[value$="___050614"],
#ship-neighborhood option[value$="___050615"],
#ship-neighborhood option[value$="___050616"],
#ship-neighborhood option[value$="___050617"],
#ship-neighborhood option[value$="___050618"],
#ship-neighborhood option[value$="___050619"],
#ship-neighborhood option[value$="___050620"],
#ship-neighborhood option[value$="___050621"],
#ship-neighborhood option[value$="___050702"],
#ship-neighborhood option[value$="___050703"],
#ship-neighborhood option[value$="___050704"],
#ship-neighborhood option[value$="___050705"],
#ship-neighborhood option[value$="___050707"],
#ship-neighborhood option[value$="___050708"],
#ship-neighborhood option[value$="___050801"],
#ship-neighborhood option[value$="___050802"],
#ship-neighborhood option[value$="___050803"],
#ship-neighborhood option[value$="___050804"],
#ship-neighborhood option[value$="___050805"],
#ship-neighborhood option[value$="___050806"],
#ship-neighborhood option[value$="___050807"],
#ship-neighborhood option[value$="___050808"],
#ship-neighborhood option[value$="___050809"],
#ship-neighborhood option[value$="___050810"],
#ship-neighborhood option[value$="___050901"],
#ship-neighborhood option[value$="___050902"],
#ship-neighborhood option[value$="___050903"],
#ship-neighborhood option[value$="___050904"],
#ship-neighborhood option[value$="___050905"],
#ship-neighborhood option[value$="___050906"],
#ship-neighborhood option[value$="___050907"],
#ship-neighborhood option[value$="___050908"],
#ship-neighborhood option[value$="___050909"],
#ship-neighborhood option[value$="___050910"],
#ship-neighborhood option[value$="___050911"],
#ship-neighborhood option[value$="___051001"],
#ship-neighborhood option[value$="___051002"],
#ship-neighborhood option[value$="___051003"],
#ship-neighborhood option[value$="___051004"],
#ship-neighborhood option[value$="___051005"],
#ship-neighborhood option[value$="___051006"],
#ship-neighborhood option[value$="___051007"],
#ship-neighborhood option[value$="___051008"],
#ship-neighborhood option[value$="___051009"],
#ship-neighborhood option[value$="___051010"],
#ship-neighborhood option[value$="___051011"],
#ship-neighborhood option[value$="___051012"],
#ship-neighborhood option[value$="___051101"],
#ship-neighborhood option[value$="___051102"],
#ship-neighborhood option[value$="___051103"],
#ship-neighborhood option[value$="___051104"],
#ship-neighborhood option[value$="___051105"],
#ship-neighborhood option[value$="___051106"],
#ship-neighborhood option[value$="___051107"],
#ship-neighborhood option[value$="___051108"],
#ship-neighborhood option[value$="___060103"],
#ship-neighborhood option[value$="___060104"],
#ship-neighborhood option[value$="___060202"],
#ship-neighborhood option[value$="___060203"],
#ship-neighborhood option[value$="___060204"],
#ship-neighborhood option[value$="___060302"],
#ship-neighborhood option[value$="___060303"],
#ship-neighborhood option[value$="___060304"],
#ship-neighborhood option[value$="___060305"],
#ship-neighborhood option[value$="___060308"],
#ship-neighborhood option[value$="___060310"],
#ship-neighborhood option[value$="___060311"],
#ship-neighborhood option[value$="___060312"],
#ship-neighborhood option[value$="___060402"],
#ship-neighborhood option[value$="___060404"],
#ship-neighborhood option[value$="___060405"],
#ship-neighborhood option[value$="___060407"],
#ship-neighborhood option[value$="___060408"],
#ship-neighborhood option[value$="___060410"],
#ship-neighborhood option[value$="___060411"],
#ship-neighborhood option[value$="___060412"],
#ship-neighborhood option[value$="___060413"],
#ship-neighborhood option[value$="___060414"],
#ship-neighborhood option[value$="___060415"],
#ship-neighborhood option[value$="___060416"],
#ship-neighborhood option[value$="___060418"],
#ship-neighborhood option[value$="___060419"],
#ship-neighborhood option[value$="___060503"],
#ship-neighborhood option[value$="___060504"],
#ship-neighborhood option[value$="___060505"],
#ship-neighborhood option[value$="___060506"],
#ship-neighborhood option[value$="___060507"],
#ship-neighborhood option[value$="___060602"],
#ship-neighborhood option[value$="___060603"],
#ship-neighborhood option[value$="___060604"],
#ship-neighborhood option[value$="___060605"],
#ship-neighborhood option[value$="___060606"],
#ship-neighborhood option[value$="___060607"],
#ship-neighborhood option[value$="___060608"],
#ship-neighborhood option[value$="___060609"],
#ship-neighborhood option[value$="___060610"],
#ship-neighborhood option[value$="___060612"],
#ship-neighborhood option[value$="___060613"],
#ship-neighborhood option[value$="___060614"],
#ship-neighborhood option[value$="___060615"],
#ship-neighborhood option[value$="___060702"],
#ship-neighborhood option[value$="___060809"],
#ship-neighborhood option[value$="___060810"],
#ship-neighborhood option[value$="___060811"],
#ship-neighborhood option[value$="___060812"],
#ship-neighborhood option[value$="___060903"],
#ship-neighborhood option[value$="___060904"],
#ship-neighborhood option[value$="___060905"],
#ship-neighborhood option[value$="___060906"],
#ship-neighborhood option[value$="___061002"],
#ship-neighborhood option[value$="___061003"],
#ship-neighborhood option[value$="___061004"],
#ship-neighborhood option[value$="___061005"],
#ship-neighborhood option[value$="___061006"],
#ship-neighborhood option[value$="___061102"],
#ship-neighborhood option[value$="___061103"],
#ship-neighborhood option[value$="___061104"],
#ship-neighborhood option[value$="___061105"],
#ship-neighborhood option[value$="___061106"],
#ship-neighborhood option[value$="___061107"],
#ship-neighborhood option[value$="___061108"],
#ship-neighborhood option[value$="___061109"],
#ship-neighborhood option[value$="___061110"],
#ship-neighborhood option[value$="___061111"],
#ship-neighborhood option[value$="___061112"],
#ship-neighborhood option[value$="___061113"],
#ship-neighborhood option[value$="___061202"],
#ship-neighborhood option[value$="___061203"],
#ship-neighborhood option[value$="___061204"],
#ship-neighborhood option[value$="___061302"],
#ship-neighborhood option[value$="___061303"],
#ship-neighborhood option[value$="___061304"],
#ship-neighborhood option[value$="___061305"],
#ship-neighborhood option[value$="___061306"],
#ship-neighborhood option[value$="___061307"],
#ship-neighborhood option[value$="___061308"],
#ship-neighborhood option[value$="___061309"],
#ship-neighborhood option[value$="___061310"],
#ship-neighborhood option[value$="___080102"],
#ship-neighborhood option[value$="___080103"],
#ship-neighborhood option[value$="___080107"],
#ship-neighborhood option[value$="___080201"],
#ship-neighborhood option[value$="___080202"],
#ship-neighborhood option[value$="___080203"],
#ship-neighborhood option[value$="___080204"],
#ship-neighborhood option[value$="___080205"],
#ship-neighborhood option[value$="___080206"],
#ship-neighborhood option[value$="___080207"],
#ship-neighborhood option[value$="___080302"],
#ship-neighborhood option[value$="___080303"],
#ship-neighborhood option[value$="___080304"],
#ship-neighborhood option[value$="___080305"],
#ship-neighborhood option[value$="___080306"],
#ship-neighborhood option[value$="___080307"],
#ship-neighborhood option[value$="___080308"],
#ship-neighborhood option[value$="___080309"],
#ship-neighborhood option[value$="___080401"],
#ship-neighborhood option[value$="___080402"],
#ship-neighborhood option[value$="___080403"],
#ship-neighborhood option[value$="___080404"],
#ship-neighborhood option[value$="___080405"],
#ship-neighborhood option[value$="___080406"],
#ship-neighborhood option[value$="___080407"],
#ship-neighborhood option[value$="___080408"],
#ship-neighborhood option[value$="___080501"],
#ship-neighborhood option[value$="___080502"],
#ship-neighborhood option[value$="___080503"],
#ship-neighborhood option[value$="___080504"],
#ship-neighborhood option[value$="___080505"],
#ship-neighborhood option[value$="___080506"],
#ship-neighborhood option[value$="___080507"],
#ship-neighborhood option[value$="___080508"],
#ship-neighborhood option[value$="___080602"],
#ship-neighborhood option[value$="___080603"],
#ship-neighborhood option[value$="___080604"],
#ship-neighborhood option[value$="___080605"],
#ship-neighborhood option[value$="___080606"],
#ship-neighborhood option[value$="___080607"],
#ship-neighborhood option[value$="___080608"],
#ship-neighborhood option[value$="___080701"],
#ship-neighborhood option[value$="___080702"],
#ship-neighborhood option[value$="___080703"],
#ship-neighborhood option[value$="___080704"],
#ship-neighborhood option[value$="___080705"],
#ship-neighborhood option[value$="___080706"],
#ship-neighborhood option[value$="___080707"],
#ship-neighborhood option[value$="___080708"],
#ship-neighborhood option[value$="___080802"],
#ship-neighborhood option[value$="___080803"],
#ship-neighborhood option[value$="___080804"],
#ship-neighborhood option[value$="___080805"],
#ship-neighborhood option[value$="___080806"],
#ship-neighborhood option[value$="___080807"],
#ship-neighborhood option[value$="___080808"],
#ship-neighborhood option[value$="___080902"],
#ship-neighborhood option[value$="___080903"],
#ship-neighborhood option[value$="___080904"],
#ship-neighborhood option[value$="___080905"],
#ship-neighborhood option[value$="___080906"],
#ship-neighborhood option[value$="___080908"],
#ship-neighborhood option[value$="___080909"],
#ship-neighborhood option[value$="___080911"],
#ship-neighborhood option[value$="___080912"],
#ship-neighborhood option[value$="___080913"],
#ship-neighborhood option[value$="___080914"],
#ship-neighborhood option[value$="___081001"],
#ship-neighborhood option[value$="___081002"],
#ship-neighborhood option[value$="___081003"],
#ship-neighborhood option[value$="___081004"],
#ship-neighborhood option[value$="___081005"],
#ship-neighborhood option[value$="___081006"],
#ship-neighborhood option[value$="___081007"],
#ship-neighborhood option[value$="___081008"],
#ship-neighborhood option[value$="___081009"],
#ship-neighborhood option[value$="___081101"],
#ship-neighborhood option[value$="___081102"],
#ship-neighborhood option[value$="___081103"],
#ship-neighborhood option[value$="___081104"],
#ship-neighborhood option[value$="___081105"],
#ship-neighborhood option[value$="___081106"],
#ship-neighborhood option[value$="___081201"],
#ship-neighborhood option[value$="___081202"],
#ship-neighborhood option[value$="___081203"],
#ship-neighborhood option[value$="___081204"],
#ship-neighborhood option[value$="___081205"],
#ship-neighborhood option[value$="___081206"],
#ship-neighborhood option[value$="___081207"],
#ship-neighborhood option[value$="___081208"],
#ship-neighborhood option[value$="___081209"],
#ship-neighborhood option[value$="___081210"],
#ship-neighborhood option[value$="___081211"],
#ship-neighborhood option[value$="___081212"],
#ship-neighborhood option[value$="___081302"],
#ship-neighborhood option[value$="___081303"],
#ship-neighborhood option[value$="___081304"],
#ship-neighborhood option[value$="___081305"],
#ship-neighborhood option[value$="___081307"],
#ship-neighborhood option[value$="___090102"],
#ship-neighborhood option[value$="___090103"],
#ship-neighborhood option[value$="___090104"],
#ship-neighborhood option[value$="___090105"],
#ship-neighborhood option[value$="___090106"],
#ship-neighborhood option[value$="___090107"],
#ship-neighborhood option[value$="___090108"],
#ship-neighborhood option[value$="___090109"],
#ship-neighborhood option[value$="___090110"],
#ship-neighborhood option[value$="___090111"],
#ship-neighborhood option[value$="___090112"],
#ship-neighborhood option[value$="___090113"],
#ship-neighborhood option[value$="___090114"],
#ship-neighborhood option[value$="___090115"],
#ship-neighborhood option[value$="___090116"],
#ship-neighborhood option[value$="___090117"],
#ship-neighborhood option[value$="___090118"],
#ship-neighborhood option[value$="___090119"],
#ship-neighborhood option[value$="___090202"],
#ship-neighborhood option[value$="___090203"],
#ship-neighborhood option[value$="___090204"],
#ship-neighborhood option[value$="___090205"],
#ship-neighborhood option[value$="___090206"],
#ship-neighborhood option[value$="___090207"],
#ship-neighborhood option[value$="___090208"],
#ship-neighborhood option[value$="___090302"],
#ship-neighborhood option[value$="___090303"],
#ship-neighborhood option[value$="___090304"],
#ship-neighborhood option[value$="___090305"],
#ship-neighborhood option[value$="___090306"],
#ship-neighborhood option[value$="___090307"],
#ship-neighborhood option[value$="___090308"],
#ship-neighborhood option[value$="___090309"],
#ship-neighborhood option[value$="___090310"],
#ship-neighborhood option[value$="___090311"],
#ship-neighborhood option[value$="___090312"],
#ship-neighborhood option[value$="___090401"],
#ship-neighborhood option[value$="___090402"],
#ship-neighborhood option[value$="___090403"],
#ship-neighborhood option[value$="___090404"],
#ship-neighborhood option[value$="___090406"],
#ship-neighborhood option[value$="___090407"],
#ship-neighborhood option[value$="___090408"],
#ship-neighborhood option[value$="___090409"],
#ship-neighborhood option[value$="___090410"],
#ship-neighborhood option[value$="___090411"],
#ship-neighborhood option[value$="___090412"],
#ship-neighborhood option[value$="___090413"],
#ship-neighborhood option[value$="___090501"],
#ship-neighborhood option[value$="___090502"],
#ship-neighborhood option[value$="___090503"],
#ship-neighborhood option[value$="___090504"],
#ship-neighborhood option[value$="___090505"],
#ship-neighborhood option[value$="___090506"],
#ship-neighborhood option[value$="___090507"],
#ship-neighborhood option[value$="___090508"],
#ship-neighborhood option[value$="___090509"],
#ship-neighborhood option[value$="___090510"],
#ship-neighborhood option[value$="___090511"],
#ship-neighborhood option[value$="___090601"],
#ship-neighborhood option[value$="___090602"],
#ship-neighborhood option[value$="___090603"],
#ship-neighborhood option[value$="___090604"],
#ship-neighborhood option[value$="___090605"],
#ship-neighborhood option[value$="___090606"],
#ship-neighborhood option[value$="___090607"],
#ship-neighborhood option[value$="___090608"],
#ship-neighborhood option[value$="___090609"],
#ship-neighborhood option[value$="___090610"],
#ship-neighborhood option[value$="___090611"],
#ship-neighborhood option[value$="___090612"],
#ship-neighborhood option[value$="___090613"],
#ship-neighborhood option[value$="___090614"],
#ship-neighborhood option[value$="___090615"],
#ship-neighborhood option[value$="___090616"],
#ship-neighborhood option[value$="___090702"],
#ship-neighborhood option[value$="___090703"],
#ship-neighborhood option[value$="___090704"],
#ship-neighborhood option[value$="___090705"],
#ship-neighborhood option[value$="___090707"],
#ship-neighborhood option[value$="___090709"],
#ship-neighborhood option[value$="___090710"],
#ship-neighborhood option[value$="___090713"],
#ship-neighborhood option[value$="___090716"],
#ship-neighborhood option[value$="___090718"],
#ship-neighborhood option[value$="___090719"],
#ship-neighborhood option[value$="___090720"],
#ship-neighborhood option[value$="___090721"],
#ship-neighborhood option[value$="___090722"],
#ship-neighborhood option[value$="___090723"],
#ship-neighborhood option[value$="___100103"],
#ship-neighborhood option[value$="___100105"],
#ship-neighborhood option[value$="___100106"],
#ship-neighborhood option[value$="___100107"],
#ship-neighborhood option[value$="___100108"],
#ship-neighborhood option[value$="___100110"],
#ship-neighborhood option[value$="___100112"],
#ship-neighborhood option[value$="___100202"],
#ship-neighborhood option[value$="___100301"],
#ship-neighborhood option[value$="___100307"],
#ship-neighborhood option[value$="___100311"],
#ship-neighborhood option[value$="___100316"],
#ship-neighborhood option[value$="___100317"],
#ship-neighborhood option[value$="___100321"],
#ship-neighborhood option[value$="___100322"],
#ship-neighborhood option[value$="___100401"],
#ship-neighborhood option[value$="___100402"],
#ship-neighborhood option[value$="___100403"],
#ship-neighborhood option[value$="___100404"],
#ship-neighborhood option[value$="___100502"],
#ship-neighborhood option[value$="___100503"],
#ship-neighborhood option[value$="___100504"],
#ship-neighborhood option[value$="___100505"],
#ship-neighborhood option[value$="___100506"],
#ship-neighborhood option[value$="___100508"],
#ship-neighborhood option[value$="___100509"],
#ship-neighborhood option[value$="___100510"],
#ship-neighborhood option[value$="___100511"],
#ship-neighborhood option[value$="___100607"],
#ship-neighborhood option[value$="___100609"],
#ship-neighborhood option[value$="___100610"],
#ship-neighborhood option[value$="___100701"],
#ship-neighborhood option[value$="___100702"],
#ship-neighborhood option[value$="___100703"],
#ship-neighborhood option[value$="___100704"],
#ship-neighborhood option[value$="___100705"],
#ship-neighborhood option[value$="___100804"],
#ship-neighborhood option[value$="___100901"],
#ship-neighborhood option[value$="___100902"],
#ship-neighborhood option[value$="___100903"],
#ship-neighborhood option[value$="___100904"],
#ship-neighborhood option[value$="___100905"],
#ship-neighborhood option[value$="___101001"],
#ship-neighborhood option[value$="___101002"],
#ship-neighborhood option[value$="___101003"],
#ship-neighborhood option[value$="___101004"],
#ship-neighborhood option[value$="___101005"],
#ship-neighborhood option[value$="___101006"],
#ship-neighborhood option[value$="___101007"],
#ship-neighborhood option[value$="___101101"],
#ship-neighborhood option[value$="___101102"],
#ship-neighborhood option[value$="___101103"],
#ship-neighborhood option[value$="___101104"],
#ship-neighborhood option[value$="___101105"],
#ship-neighborhood option[value$="___101106"],
#ship-neighborhood option[value$="___101107"],
#ship-neighborhood option[value$="___101108"],
#ship-neighborhood option[value$="___110203"],
#ship-neighborhood option[value$="___110208"],
#ship-neighborhood option[value$="___110209"],
#ship-neighborhood option[value$="___120104"],
#ship-neighborhood option[value$="___120105"],
#ship-neighborhood option[value$="___120106"],
#ship-neighborhood option[value$="___120108"],
#ship-neighborhood option[value$="___120111"],
#ship-neighborhood option[value$="___120112"],
#ship-neighborhood option[value$="___120113"],
#ship-neighborhood option[value$="___120120"],
#ship-neighborhood option[value$="___120124"],
#ship-neighborhood option[value$="___120125"],
#ship-neighborhood option[value$="___120127"],
#ship-neighborhood option[value$="___120135"],
#ship-neighborhood option[value$="___120202"],
#ship-neighborhood option[value$="___120203"],
#ship-neighborhood option[value$="___120204"],
#ship-neighborhood option[value$="___120205"],
#ship-neighborhood option[value$="___120206"],
#ship-neighborhood option[value$="___120207"],
#ship-neighborhood option[value$="___120208"],
#ship-neighborhood option[value$="___120209"],
#ship-neighborhood option[value$="___120211"],
#ship-neighborhood option[value$="___120212"],
#ship-neighborhood option[value$="___120214"],
#ship-neighborhood option[value$="___120215"],
#ship-neighborhood option[value$="___120306"],
#ship-neighborhood option[value$="___120419"],
#ship-neighborhood option[value$="___120427"],
#ship-neighborhood option[value$="___120503"],
#ship-neighborhood option[value$="___120504"],
#ship-neighborhood option[value$="___120602"],
#ship-neighborhood option[value$="___120603"],
#ship-neighborhood option[value$="___120608"],
#ship-neighborhood option[value$="___120609"],
#ship-neighborhood option[value$="___120703"],
#ship-neighborhood option[value$="___120707"],
#ship-neighborhood option[value$="___120709"],
#ship-neighborhood option[value$="___120903"],
#ship-neighborhood option[value$="___120904"],
#ship-neighborhood option[value$="___120906"],
#ship-neighborhood option[value$="___120907"],
#ship-neighborhood option[value$="___120908"],
#ship-neighborhood option[value$="___120909"],
#ship-neighborhood option[value$="___130204"],
#ship-neighborhood option[value$="___130301"],
#ship-neighborhood option[value$="___130302"],
#ship-neighborhood option[value$="___130303"],
#ship-neighborhood option[value$="___130304"],
#ship-neighborhood option[value$="___130305"],
#ship-neighborhood option[value$="___130306"],
#ship-neighborhood option[value$="___130501"],
#ship-neighborhood option[value$="___130502"],
#ship-neighborhood option[value$="___130503"],
#ship-neighborhood option[value$="___130504"],
#ship-neighborhood option[value$="___130602"],
#ship-neighborhood option[value$="___130604"],
#ship-neighborhood option[value$="___130605"],
#ship-neighborhood option[value$="___130611"],
#ship-neighborhood option[value$="___130613"],
#ship-neighborhood option[value$="___130614"],
#ship-neighborhood option[value$="___130801"],
#ship-neighborhood option[value$="___130802"],
#ship-neighborhood option[value$="___130803"],
#ship-neighborhood option[value$="___130804"],
#ship-neighborhood option[value$="___130805"],
#ship-neighborhood option[value$="___130806"],
#ship-neighborhood option[value$="___130807"],
#ship-neighborhood option[value$="___130808"],
#ship-neighborhood option[value$="___130809"],
#ship-neighborhood option[value$="___130810"],
#ship-neighborhood option[value$="___130811"],
#ship-neighborhood option[value$="___130812"],
#ship-neighborhood option[value$="___130813"],
#ship-neighborhood option[value$="___130902"],
#ship-neighborhood option[value$="___130903"],
#ship-neighborhood option[value$="___130904"],
#ship-neighborhood option[value$="___130905"],
#ship-neighborhood option[value$="___130906"],
#ship-neighborhood option[value$="___130907"],
#ship-neighborhood option[value$="___130908"],
#ship-neighborhood option[value$="___131002"],
#ship-neighborhood option[value$="___131003"],
#ship-neighborhood option[value$="___131004"],
#ship-neighborhood option[value$="___131005"],
#ship-neighborhood option[value$="___131006"],
#ship-neighborhood option[value$="___131007"],
#ship-neighborhood option[value$="___131008"],
#ship-neighborhood option[value$="___131102"],
#ship-neighborhood option[value$="___131103"],
#ship-neighborhood option[value$="___131104"],
#ship-neighborhood option[value$="___140117"],
#ship-neighborhood option[value$="___140120"],
#ship-neighborhood option[value$="___140202"],
#ship-neighborhood option[value$="___140203"],
#ship-neighborhood option[value$="___140305"],
#ship-neighborhood option[value$="___140309"],
#ship-neighborhood option[value$="___140311"],
#ship-neighborhood option[value$="___140312"],
#ship-neighborhood option[value$="___150301"],
#ship-neighborhood option[value$="___150302"],
#ship-neighborhood option[value$="___150303"],
#ship-neighborhood option[value$="___150304"],
#ship-neighborhood option[value$="___150305"],
#ship-neighborhood option[value$="___150602"],
#ship-neighborhood option[value$="___150603"],
#ship-neighborhood option[value$="___150604"],
#ship-neighborhood option[value$="___150610"],
#ship-neighborhood option[value$="___150732"],
#ship-neighborhood option[value$="___150902"],
#ship-neighborhood option[value$="___150903"],
#ship-neighborhood option[value$="___150904"],
#ship-neighborhood option[value$="___150905"],
#ship-neighborhood option[value$="___151001"],
#ship-neighborhood option[value$="___151002"],
#ship-neighborhood option[value$="___151003"],
#ship-neighborhood option[value$="___151004"],
#ship-neighborhood option[value$="___151005"],
#ship-neighborhood option[value$="___151006"],
#ship-neighborhood option[value$="___151007"],
#ship-neighborhood option[value$="___151008"],
#ship-neighborhood option[value$="___151009"],
#ship-neighborhood option[value$="___151010"],
#ship-neighborhood option[value$="___151011"],
#ship-neighborhood option[value$="___151012"],
#ship-neighborhood option[value$="___151013"],
#ship-neighborhood option[value$="___151014"],
#ship-neighborhood option[value$="___151015"],
#ship-neighborhood option[value$="___151016"],
#ship-neighborhood option[value$="___151017"],
#ship-neighborhood option[value$="___151018"],
#ship-neighborhood option[value$="___151019"],
#ship-neighborhood option[value$="___151020"],
#ship-neighborhood option[value$="___151021"],
#ship-neighborhood option[value$="___151022"],
#ship-neighborhood option[value$="___151023"],
#ship-neighborhood option[value$="___151024"],
#ship-neighborhood option[value$="___151025"],
#ship-neighborhood option[value$="___151026"],
#ship-neighborhood option[value$="___151027"],
#ship-neighborhood option[value$="___151028"],
#ship-neighborhood option[value$="___151029"],
#ship-neighborhood option[value$="___151030"],
#ship-neighborhood option[value$="___151031"],
#ship-neighborhood option[value$="___151032"],
#ship-neighborhood option[value$="___151033"],
#ship-neighborhood option[value$="___160102"],
#ship-neighborhood option[value$="___160103"],
#ship-neighborhood option[value$="___160104"],
#ship-neighborhood option[value$="___160105"],
#ship-neighborhood option[value$="___160106"],
#ship-neighborhood option[value$="___160107"],
#ship-neighborhood option[value$="___160110"],
#ship-neighborhood option[value$="___160202"],
#ship-neighborhood option[value$="___160205"],
#ship-neighborhood option[value$="___160206"],
#ship-neighborhood option[value$="___160210"],
#ship-neighborhood option[value$="___160211"],
#ship-neighborhood option[value$="___160301"],
#ship-neighborhood option[value$="___160302"],
#ship-neighborhood option[value$="___160303"],
#ship-neighborhood option[value$="___160304"],
#ship-neighborhood option[value$="___160305"],
#ship-neighborhood option[value$="___160401"],
#ship-neighborhood option[value$="___160402"],
#ship-neighborhood option[value$="___160403"],
#ship-neighborhood option[value$="___160404"],
#ship-neighborhood option[value$="___160501"],
#ship-neighborhood option[value$="___160502"],
#ship-neighborhood option[value$="___160503"],
#ship-neighborhood option[value$="___160504"],
#ship-neighborhood option[value$="___160505"],
#ship-neighborhood option[value$="___160506"],
#ship-neighborhood option[value$="___160507"],
#ship-neighborhood option[value$="___160508"],
#ship-neighborhood option[value$="___160509"],
#ship-neighborhood option[value$="___160510"],
#ship-neighborhood option[value$="___160511"],
#ship-neighborhood option[value$="___160602"],
#ship-neighborhood option[value$="___160603"],
#ship-neighborhood option[value$="___160604"],
#ship-neighborhood option[value$="___160605"],
#ship-neighborhood option[value$="___160606"],
#ship-neighborhood option[value$="___160701"],
#ship-neighborhood option[value$="___160702"],
#ship-neighborhood option[value$="___160703"],
#ship-neighborhood option[value$="___160704"],
#ship-neighborhood option[value$="___160705"],
#ship-neighborhood option[value$="___160706"],
#ship-neighborhood option[value$="___160801"],
#ship-neighborhood option[value$="___160802"],
#ship-neighborhood option[value$="___160803"],
#ship-neighborhood option[value$="___160804"],
#ship-neighborhood option[value$="___170102"],
#ship-neighborhood option[value$="___170202"],
#ship-neighborhood option[value$="___170204"],
#ship-neighborhood option[value$="___180102"],
#ship-neighborhood option[value$="___180103"],
#ship-neighborhood option[value$="___180105"],
#ship-neighborhood option[value$="___180106"],
#ship-neighborhood option[value$="___180201"],
#ship-neighborhood option[value$="___180202"],
#ship-neighborhood option[value$="___180203"],
#ship-neighborhood option[value$="___180204"],
#ship-neighborhood option[value$="___180205"],
#ship-neighborhood option[value$="___180206"],
#ship-neighborhood option[value$="___180207"],
#ship-neighborhood option[value$="___180208"],
#ship-neighborhood option[value$="___180209"],
#ship-neighborhood option[value$="___180210"],
#ship-neighborhood option[value$="___180211"],
#ship-neighborhood option[value$="___190102"],
#ship-neighborhood option[value$="___190105"],
#ship-neighborhood option[value$="___190106"],
#ship-neighborhood option[value$="___190108"],
#ship-neighborhood option[value$="___190202"],
#ship-neighborhood option[value$="___190204"],
#ship-neighborhood option[value$="___190205"],
#ship-neighborhood option[value$="___190206"],
#ship-neighborhood option[value$="___190207"],
#ship-neighborhood option[value$="___190208"],
#ship-neighborhood option[value$="___190308"],
#ship-neighborhood option[value$="___200202"],
#ship-neighborhood option[value$="___200203"],
#ship-neighborhood option[value$="___200204"],
#ship-neighborhood option[value$="___200205"],
#ship-neighborhood option[value$="___200206"],
#ship-neighborhood option[value$="___200207"],
#ship-neighborhood option[value$="___200208"],
#ship-neighborhood option[value$="___200209"],
#ship-neighborhood option[value$="___200210"],
#ship-neighborhood option[value$="___200303"],
#ship-neighborhood option[value$="___200304"],
#ship-neighborhood option[value$="___200305"],
#ship-neighborhood option[value$="___200307"],
#ship-neighborhood option[value$="___200308"],
#ship-neighborhood option[value$="___200402"],
#ship-neighborhood option[value$="___200403"],
#ship-neighborhood option[value$="___200407"],
#ship-neighborhood option[value$="___200408"],
#ship-neighborhood option[value$="___200409"],
#ship-neighborhood option[value$="___200410"],
#ship-neighborhood option[value$="___200506"],
#ship-neighborhood option[value$="___200507"],
#ship-neighborhood option[value$="___200704"],
#ship-neighborhood option[value$="___210102"],
#ship-neighborhood option[value$="___210103"],
#ship-neighborhood option[value$="___210105"],
#ship-neighborhood option[value$="___210107"],
#ship-neighborhood option[value$="___210110"],
#ship-neighborhood option[value$="___210111"],
#ship-neighborhood option[value$="___210112"],
#ship-neighborhood option[value$="___210114"],
#ship-neighborhood option[value$="___210115"],
#ship-neighborhood option[value$="___210203"],
#ship-neighborhood option[value$="___210205"],
#ship-neighborhood option[value$="___210206"],
#ship-neighborhood option[value$="___210207"],
#ship-neighborhood option[value$="___210208"],
#ship-neighborhood option[value$="___210209"],
#ship-neighborhood option[value$="___210210"],
#ship-neighborhood option[value$="___210212"],
#ship-neighborhood option[value$="___210213"],
#ship-neighborhood option[value$="___210214"],
#ship-neighborhood option[value$="___210215"],
#ship-neighborhood option[value$="___210301"],
#ship-neighborhood option[value$="___210302"],
#ship-neighborhood option[value$="___210303"],
#ship-neighborhood option[value$="___210304"],
#ship-neighborhood option[value$="___210305"],
#ship-neighborhood option[value$="___210306"],
#ship-neighborhood option[value$="___210307"],
#ship-neighborhood option[value$="___210308"],
#ship-neighborhood option[value$="___210310"],
#ship-neighborhood option[value$="___210401"],
#ship-neighborhood option[value$="___210403"],
#ship-neighborhood option[value$="___210404"],
#ship-neighborhood option[value$="___210405"],
#ship-neighborhood option[value$="___210406"],
#ship-neighborhood option[value$="___210502"],
#ship-neighborhood option[value$="___210503"],
#ship-neighborhood option[value$="___210504"],
#ship-neighborhood option[value$="___210505"],
#ship-neighborhood option[value$="___210602"],
#ship-neighborhood option[value$="___210603"],
#ship-neighborhood option[value$="___210604"],
#ship-neighborhood option[value$="___210605"],
#ship-neighborhood option[value$="___210606"],
#ship-neighborhood option[value$="___210607"],
#ship-neighborhood option[value$="___210704"],
#ship-neighborhood option[value$="___210705"],
#ship-neighborhood option[value$="___210706"],
#ship-neighborhood option[value$="___210707"],
#ship-neighborhood option[value$="___210710"],
#ship-neighborhood option[value$="___210803"],
#ship-neighborhood option[value$="___210804"],
#ship-neighborhood option[value$="___210805"],
#ship-neighborhood option[value$="___210806"],
#ship-neighborhood option[value$="___210807"],
#ship-neighborhood option[value$="___210809"],
#ship-neighborhood option[value$="___210901"],
#ship-neighborhood option[value$="___210902"],
#ship-neighborhood option[value$="___210903"],
#ship-neighborhood option[value$="___210904"],
#ship-neighborhood option[value$="___211001"],
#ship-neighborhood option[value$="___211003"],
#ship-neighborhood option[value$="___211004"],
#ship-neighborhood option[value$="___211005"],
#ship-neighborhood option[value$="___211105"],
#ship-neighborhood option[value$="___211202"],
#ship-neighborhood option[value$="___211203"],
#ship-neighborhood option[value$="___211204"],
#ship-neighborhood option[value$="___211205"],
#ship-neighborhood option[value$="___211206"],
#ship-neighborhood option[value$="___211208"],
#ship-neighborhood option[value$="___211209"],
#ship-neighborhood option[value$="___211302"],
#ship-neighborhood option[value$="___211303"],
#ship-neighborhood option[value$="___211304"],
#ship-neighborhood option[value$="___211305"],
#ship-neighborhood option[value$="___211306"],
#ship-neighborhood option[value$="___211307"],
#ship-neighborhood option[value$="___220103"],
#ship-neighborhood option[value$="___220104"],
#ship-neighborhood option[value$="___220202"],
#ship-neighborhood option[value$="___220203"],
#ship-neighborhood option[value$="___220205"],
#ship-neighborhood option[value$="___220206"],
#ship-neighborhood option[value$="___220302"],
#ship-neighborhood option[value$="___220303"],
#ship-neighborhood option[value$="___220304"],
#ship-neighborhood option[value$="___220305"],
#ship-neighborhood option[value$="___220402"],
#ship-neighborhood option[value$="___220403"],
#ship-neighborhood option[value$="___220404"],
#ship-neighborhood option[value$="___220405"],
#ship-neighborhood option[value$="___220406"],
#ship-neighborhood option[value$="___220507"],
#ship-neighborhood option[value$="___220605"],
#ship-neighborhood option[value$="___220704"],
#ship-neighborhood option[value$="___220706"],
#ship-neighborhood option[value$="___220709"],
#ship-neighborhood option[value$="___220806"],
#ship-neighborhood option[value$="___220807"],
#ship-neighborhood option[value$="___220809"],
#ship-neighborhood option[value$="___220902"],
#ship-neighborhood option[value$="___220905"],
#ship-neighborhood option[value$="___220906"],
#ship-neighborhood option[value$="___220907"],
#ship-neighborhood option[value$="___220911"],
#ship-neighborhood option[value$="___220912"],
#ship-neighborhood option[value$="___221002"],
#ship-neighborhood option[value$="___221003"],
#ship-neighborhood option[value$="___221004"],
#ship-neighborhood option[value$="___230103"],
#ship-neighborhood option[value$="___230105"],
#ship-neighborhood option[value$="___230106"],
#ship-neighborhood option[value$="___230107"],
#ship-neighborhood option[value$="___230109"],
#ship-neighborhood option[value$="___230111"],
#ship-neighborhood option[value$="___230201"],
#ship-neighborhood option[value$="___230202"],
#ship-neighborhood option[value$="___230203"],
#ship-neighborhood option[value$="___230204"],
#ship-neighborhood option[value$="___230205"],
#ship-neighborhood option[value$="___230206"],
#ship-neighborhood option[value$="___230301"],
#ship-neighborhood option[value$="___230302"],
#ship-neighborhood option[value$="___230303"],
#ship-neighborhood option[value$="___230401"],
#ship-neighborhood option[value$="___230402"],
#ship-neighborhood option[value$="___230403"],
#ship-neighborhood option[value$="___230404"],
#ship-neighborhood option[value$="___230405"],
#ship-neighborhood option[value$="___230406"],
#ship-neighborhood option[value$="___230407"],
#ship-neighborhood option[value$="___230408"],
#ship-neighborhood option[value$="___250103"],
#ship-neighborhood option[value$="___250104"],
#ship-neighborhood option[value$="___250202"],
#ship-neighborhood option[value$="___250203"],
#ship-neighborhood option[value$="___250204"],
#ship-neighborhood option[value$="___250303"],
#ship-neighborhood option[value$="___250304"]
{display:none}


.item-attachments-content, .item-attachments-head { display: none;}

.orderform-template .step .text input {height: 21px;}
p.client-document {clear: inherit !important;float: right !important;}  
.container-main #client-document-type {display: none!important;}
.container-main .client-document-type {display: none;}
.container-main .client-last-name+.client-document-type {display: block;}
.orderform-template .step.accordion-group .accordion-inner p.input {width: 49%;margin: 0;}
.orderform-template .step.accordion-group .accordion-inner select {float: none;clear: both;width: 100%;}
.orderform-template .step.accordion-group .accordion-inner .client-document label {font-size: 11px;}
.vtex-pickup-points-modal-3-x-askGeolocationBtnPostalCode {display: none !important;}

#unavailable-delivery-disclaimer {font-size: 0;}
#unavailable-delivery-disclaimer:before{ content:"El siguiente item solo está disponible para recojo en tienda"; font-size:14px;display:inline-block; }
#shp-unavailable-delivery-available-pickup {font-size: 0;}
#shp-unavailable-delivery-available-pickup:before{ content:"El siguiente item solo está disponible para recojo en tienda"; font-size:14px;display:inline-block; }
.vtex-pickup-points-modal-3-x-pickupPointSla.pkpmodal-pickup-point-sla {font-size: 0;}
.vtex-pickup-points-modal-3-x-pickupPointSla.pkpmodal-pickup-point-sla:before{ content:"Listo a partir de 24hrs."; font-size:12px;display:inline-block; }
.vtex-pickup-points-modal-3-x-locationReset {margin: 13px 12px;}
.vtex-pickup-points-modal-3-x-modalDetailsBackLnk {display:block !important;}

@media screen and (max-width:700px) {
  .orderform-template-holder .client-profile-data .client-phone {padding-top: 20px;}
  .container-main .client-last-name+.client-document-type {width: 100% !important;}
  .orderform-template .step.accordion-group .accordion-inner p.input {width: 100%;}
  .orderform-template-holder .client-profile-data .client-phone input {width: 95%;}
}