.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.footerLayout--footer-container-mobile{
  background: #e9e9e9;
  padding: .5rem;
}
