.element{
  padding: 0;
}

/*SEARCH*/
.nameContainer--summaryListDesktop {
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  justify-content: start;
}

.nameContainer--summaryListMobile {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  justify-content: start;
}

.brandName--summaryListMobile {
  font-weight: 400;
  font-size: 0.875rem;
  color: black;
}

.container--listLayout {
  max-width: none !important;
}

.image--summaryListDesktop {
  width: 180px !important;
}

.image--summaryListMobile {
  width: 140px !important;
  min-width: 140px;
  height: inherit !important;
}

/*GENERAL*/
.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: clamp(1em, 1em + 1vw, 1.3em);
  color: #000;
  text-transform: uppercase;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

/* PDP */

@media screen and (min-width:1024px){
  .imageNormal{
    height: 150px;
  }

}

:global(.vtex-numeric-stepper__minus-button__text),:global(.vtex-numeric-stepper__plus-button__text){
  font-size: 22px;
}

:global(.vtex-numeric-stepper__minus-button),:global(.vtex-numeric-stepper__plus-button){
  border: 1px solid;
  border-radius: unset;
}

:global(.vtex-numeric-stepper__input){
  width: 55px;
}

:global(.vtex-product-quantity-1-x-quantitySelectorTitle){
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
}

.nameContainer{
  padding: 0;
}

.container :global(.vtex-button) {
  background-color: white;
}

.container :global(.vtex-button) :global(.vtex-button__label) {
  background: white;
  color: black;
  border-radius: .25em;
  border: 1px solid black;
}

.container :global(.vtex-button) :global(.vtex-button__label):hover {
  background-color: black;
  color: white;
}