.container {
  padding: 0;
}

.sizeDesktop {
  padding: 0;
}

.notificationBarContainer {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 10px;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end !important;
  border-bottom: #000000;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: #fff;
  color: #000;
  border-radius: unset;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #ddd;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: unset;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 400px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.imageElement--storePrint-mobile {
  padding-left: 70px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #000000;
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 70px;
}

@media only screen and (max-width: 640px) {
  .productNameContainer {
    padding: 0 12px;
    font-size: 32px;
    line-height: normal;
  }
}

.imageElement--image-mujer-submenu{
height: 80%;
}

/*footer*/

.form {
  margin: 0;
}

.infoCardContainer--info-card-footer {
  height: 100%;
}

.infoCardTextContainer--info-card-footer {
  width: 100% !important;
}

.infoCardCallActionContainer--info-card-footer :global(.vtex-button) {
  color: black;
  background: white;
  border: 1px solid white;
  border-radius: unset;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.infoCardCallActionContainer--info-card-footer :global(.vtex-button):hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.infoCardHeadline--info-card-footer {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 40px;
  color: white;
}

.infoCardSubhead--info-card-footer {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.searchBarIcon--search {
  display: none;
}
.imageElementLink--footer-social-network-logo {
  background: black;
  border-radius: 50% 50% 50% 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.imageElement--footer-social-network-logo {
  filter: invert(1);
}

/*home*/

.infoCardContainer--info-card-home {
  height: 900px;
}

.infoCardContainer--info-card-home :global(.vtex-store-components-3-x-infoCardCallActionContainer--info-card-home){
  max-height: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.infoCardContainer--info-card-home:hover :global(.vtex-store-components-3-x-infoCardCallActionContainer--info-card-home){
  max-height: auto;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


@media screen and (max-width: 1024px) {
  .infoCardContainer--info-card-home {
    height: 440px;
  }
}

.infoCardHeadline--info-card-home {
  font-size: clamp(4rem, 4rem + 1vw, 8rem) !important;
  color: #fff;
  text-decoration-line: underline;
}

@media screen and (max-width: 360px) {
  .infoCardHeadline--info-card-home {
    font-size: 50px !important;
  }

  .logoImage {
    width: 160px;
  }
}

.infoCardTextContainer--info-card-home {
  width: 100%;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button) {
  background: #fff;
  border: none;
  border-radius: 25px;
  transition: 0.3s;
  padding: 1rem 2rem;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button__label) {
  color: #000;
  transition: 0.3s;
  font-size: clamp(1rem, 1em + 1vw, 1.5rem);
  font-weight: 700;
  padding: 0;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button):hover {
  background: #000;
  transition: 0.3s;
}

.infoCardCallActionContainer--info-card-home
  :global(.vtex-button):hover
  :global(.vtex-button__label) {
  color: #fff;
  transition: 0.3s;
}

@media screen and (min-width: 1024px) {
  .logoImage {
    transition: 0.3s;
  }
  .logoImage:hover {
    opacity: 0.6;
  }
}

/*search*/

.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  font-size: 0.875rem;
}

/* PDP */

.productNameContainer--quickview {
  font-size: 80px;
  margin-bottom: 10px;
  margin-top: 30px;
  line-height: 70px;
  color: #000;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .productNameContainer--quickview {
    margin-top: 10px;
    font-size: 32px;
    line-height: normal;
    padding: 0 15px;
  }
}

.skuSelectorName {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

.productDescriptionTitle {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}
.productDescriptionText {
  color: #000;
  font-size: 16px;
}

.skuSelectorInternalBox {
  border: 2px solid #ccc;
  border-radius: 0 !important;
}

.skuSelectorOptionsList {
  margin: 0;
}

.skuSelectorItemTextValue {
  color: #000;
}

.skuSelectorItem--selected .skuSelectorInternalBox {
  border: 2px solid #000;
}

.shippingContainer :global(.vtex-button) {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.shippingContainer {
  margin-top: 25px;
}

.skuSelectorSelectorImageValue {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

.productNameContainer--nameSku {
  color: #727273;
  font-size: 15px;
  font-weight: 300;
  padding: 0px;
}
.productBrand--nameSku:first-child{
  display: none;
}

/* MODAL GUIA DE TALLAS */
.imageElement--contenedor-tallas {
  padding: 20px;
}

/* Sku selector */
.skuSelectorOptionsList .skuSelectorInternalBox {
  border-color: black;
}
.skuSelectorOptionsList .skuSelectorItem--selected .skuSelectorInternalBox,
.skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox:hover {
  background-color: black;
}
.skuSelectorOptionsList .skuSelectorItem--selected .skuSelectorInternalBox .skuSelectorItemTextValue,
.skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox:hover .skuSelectorItemTextValue {
  color: white;
}
.specificationsTitle {
  display: none;
}
.specificationsTabsContainer :global(.vtex-tabs__nav) {
  display: none;
}

@media screen and (max-width:1024px){
  .productNameContainer--nameSku {
    color: #727273;
    font-size: 15px;
    font-weight: 300;
    padding: 0 15px;
  }
}  