.emailInputContainer :global(.vtex-input__label) {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.emailInputContainer :global(.vtex-input__label)::after {
  content: "Obtén noticias, descuento y ofertas especiales para nuestra comunidad.";
  font-size: 12px;
  margin: 15px 0;
  text-transform: uppercase;
  color: #16b3aa;
  font-weight: 400;
}

.confirmationCheckboxContainer {
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 4px solid #000;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__label) {
  color: #000;
  font-size: 10px;
}

.emailInputContainer :global(.vtex-input-prefix__group) {
  /* height: 28px; */
  border: none;
  border-radius: unset;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input) {
  /* height: 28px; */
  background: transparent !important;
  border: 1px solid #ddd;
  border-radius: unset;
  color: #ddd;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #ddd;
  font-size: 14px;
}

.formSubmitContainer {
  display: flex;
  align-items: flex-end;
}

.formSubmitContainer :global(.vtex-button) {
  height: 28px;
  background: black;
  border: none;
  border-radius: unset;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
