.listContainer--tab-list-home{
    justify-content: flex-start;
}

.listItem  {
    padding: 0;
    margin: 0;
}

/* .listItem--tab-list-item-home{
    min-width: 80px;
    margin-right: 10px;
    padding: 0.5em 1.5em;
    border: 2px solid transparent;
    border-radius: 24px;
    cursor: pointer;
    background-color: #F2F2F2;
} */
.listItem--tab-list-item-home :global(.vtex-button){
    min-width: 80px;
    margin-right: 10px;
    padding: 0.5em 1.5em;
    border: 2px solid transparent;
    border-radius: 24px;
    cursor: pointer;
    background-color: #F2F2F2;
}

.listItem--tab-list-item-home :global(.vtex-button):hover{
    border: 2px solid #000;
}

.listItemActive--tab-list-item-home :global(.vtex-button){
    border: 2px solid #000;
}

.listItem--tab-list-item-home :global(.vtex-button__label){
    color: #000;
    padding: 0;
}