.link {
    padding: 0;
}

@media screen and (min-width: 1024px) {
    /* .caretIcon{
        margin-bottom: 1.5px;
        margin-right: 5px;
    } */
}

.container{
  text-transform: uppercase;
}
.homeIcon{
  display: none;

}
.caretIcon{
width: 0;
}


.link::after{
  content: "/";
  font-size: 18px;
  margin: 0 8px;
}

@media screen and (max-width:1024px){
  .link::after{
    font-size: 14px;
    margin: 0 4px;
  }
}

.homeLink{
  display: none;
}

.arrow{
  margin: 0;
  padding: 0;
}

.term{
  padding: 0;
  color: #000;
}
