/*DEFAULT */
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  padding: 0 20px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
}

.container--about {
  max-width: 85%;
  padding: 0 20px;
}
  /*
  .container--title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    max-width: 60%;
  } */

  .container--title-comprar {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding-left: 70px;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }


/*END OF DEFAULT*/

/*footer*/

.paragraph--email-footer {
  display: flex;
  align-items: center;
  margin: 0;
}

.image--email-footer {
  filter: brightness(0);
  margin-right: 10px;
}

.paragraph--footer-social-network-text {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.paragraph--suscribete-footer-text {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px;
}

.paragraph--suscribete-footer-text-vistoso {
  font-size: 12px;
  color: #16b3aa;
}

.link--email-footer {
  font-size: 11px;
  line-height: unset;
  font-weight: 400;
  color: #000;
  margin-bottom: 2px;
}

.container--ColiseumlinkText {
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
  font-size: 10px;
  border-bottom: 1px solid #000;
}

.link--ColiseumlinkText {
  text-decoration: underline;
  color: #000;
}

.wrapper--footer-text-tienda-marca {
  width: 100%;
}

.paragraph--footer-text-tienda-marca {
  font-weight: 500;
  color: #000;
  text-align: center;
}

.container--title-contactenos {
  display: flex;
  justify-content: center;
}

/*home*/

.paragraph--info-card-container-title {
  color: #000;
  font-size: calc(2em + 2 * (100vw - 20em) / 69.375);
  font-weight: 700;
  margin: 0 15px;
  line-height: unset;
}

.paragraph--best-sellers-container-title {
  color: #000;
  font-size: calc(3em + 2 * (100vw - 20em) / 69.375);
  font-weight: 700;
  margin: 0 0 10px;
  line-height: unset;
}

.paragraph--best-sellers-container-subtitle {
  color: #000;
  font-size: calc(1em + 0.4 * (100vw - 20em) / 69.375);
  margin: 0 0 30px;
  line-height: unset;
}

/*search*/

.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

/* GUIA DE TALLAS */

.strong--tallas {
  cursor: pointer;
  color: #000;
}

.container--title-mobile {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.container--preguntas-frecuentes {
  display: flex;
  justify-content: center;
}

.wrapper--preguntas-frecuentes {
  font-size: 20px;
  font-weight: bold;

  text-decoration: underline;
}

.container--contenedor-texto-tallas{
  padding: 0 20px;
}
/* PDP */
.paragraph--texto-envioydevolucion{
  padding: 0 20px;
}
/* .paragraph--text-metodos-de-pagos{
  padding-bottom: 10px;
} */
.paragraph--text-metodos-de-pagos {
  display: flex;
  align-items: center;
}

:global(.vtex-rich-text-0-x-paragraph--text-metodos-de-pagos)::before {
  content: "";
  display: block;
  background-image: url(/arquivos/metodo.png);
  width: 23px;
  height: 23px;
  background-size: cover;
  margin-right: 10px;
}

/* Formulario Contacto */
.paragraph--title-contactenos {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.link--form-title-contacto {
  color: black;
  text-decoration: none;
}

.paragraph--form-title-contacto {
  margin-top: 0;
}

/* product-summary.shelf */
.container--sinmarca {
  color:#ffffff ;
}

.paragraph--sinmarca {
  margin: 11px 0;
}

.paragraph--madden-girl {
  margin: 11px 0;
}

.wrapper--madden-girl {
    font-size: 12pt;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #b2b2b2;
}

/* styles for topbar */
.link--topbaner{
  color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.paragraph--topbaner{
  color: #fff;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.paragraph--click-popup-nonabar {
  color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;  
}

.paragraph--modal-titulo-suscribete {
  font-size: 24px;
  margin: 0;
  font-weight: bold; 
}

.wrapper--modal-titulo-suscribete {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
}

.paragraph--click-popup-btn-suscribete {
  padding: 10px 64px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.paragraph--description-info {
    font-size: 12px;
    font-weight: bold;
}

.link--description-info {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.wrapper--description-info {
    font-size: 12px;
}

.paragraph--title-sub-menu {
  color: #fff;
  font-weight: bold; 
}

.container--seccion-tiendas-detalle {
  background: #eee;
  padding: 20px;
}

.link--link-maps-button {
  background: #000;
  color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.paragraph--tiendas-titulo {
    font-size: 46px;
    margin: 0 0 10px 0;
    font-weight: 800;
}

.heading--container-tiendas-titulo-seccion {
  margin: 20px 0 0 0;
}

.paragraph--seccion-tiendas-detalle {
  font-size: 13px;
}

.paragraph--encuentra-tu-tienda-footer {
    display: flex;
    align-items: center;
    margin: 0;
}

.image--encuentra-tu-tienda-footer {
  margin: 0 16px 0 6px;
}

.link--encuentra-tu-tienda-footer {
  color: #000;
  font-size: 14px;
}

.paragraph--SubTitle-libro {
  font-size: 11.5px;
}

.headingLevel1--seo-h1-home {
  margin: 0;
  color: #fff;
  font-size: 0px;
}

.paragraph--pocas-horas-container-title {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
}

.paragraph--pocas-horas-container-subtitle {
  font-size: 20px;
}

.paragraph--texto-derecha-titulo {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.paragraph--texto-derecha-disponibilidad, .paragraph--texto-derecha-despacho {
  margin: 0;
  text-decoration: underline;
  font-size: 11px;  
}

.paragraph--texto-derecha-despacho:hover, .paragraph--texto-derecha-disponibilidad:hover {
    cursor: pointer;
}

.container--tallas::after {
    background-image: url(/arquivos/ruler.png);
    content: "AA";
    display: flex;
    justify-content: flex-end;
    align-items: end;
    color: transparent;
    background-repeat: no-repeat;
    background-size: 30px;
    font-size: 41px;
    height: 44px;
    width: 37px;
    background-position: 9px 20px;
    border: 0;
    cursor: pointer;
}

.link--nano-title {
  color: #fff;
  text-decoration: none;
}

.paragraph--nano-title {
  color: #fff;
  margin: 0;
  font-size: 14px;
  padding: 0 30px;
}

.link--click-popup-nonabar {
  color: #fff;
}

.paragraph--ruc-footer-text {
  margin: 0;
  font-size: 12px;
  color: #000;
}

.container--celda-terminos-y-condiciones {
  border: solid 1px #7e7e7e;
}

.paragraph--titulo-terminos-y-condiciones {
    font-weight: bold;
    font-size: 15px;  
    font-family: Mier-A-Black;
    margin: 2px 0 2px 20px;
}

.paragraph--celda-terminos-y-condiciones {
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

.container--titulo-terminos-y-condiciones {
  border: solid 1px #7e7e7e;
}

.container--celda-cambios-y-devoluciones {
  border: solid 1px #7e7e7e;
}

.paragraph--titulo-cambios-y-devoluciones {
    font-weight: bold;
    font-size: 15px;  
    font-family: Mier-A-Black;
    margin: 2px 0 2px 20px;
}

.paragraph--celda-cambios-y-devoluciones {
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

.container--titulo-cambios-y-devoluciones {
  border: solid 1px #7e7e7e;
}

.paragraph--nano-seccion-title {
  font-size: 12px;
  color: #fff;
  margin: 6px 0;
}

.link--nano-seccion-title {
  text-decoration: none;
  color: #000;
  color: #fff;
}

.image--nano-seccion-title {
  vertical-align: middle;
}

.heading--descripcion-visual.headingLevel1 {
  font-size: 28px;
}

.heading--descripcion-visual.headingLevel2 {
  font-size: 20px;
}

.link--descripcion-visual {
  color: #000;
}

.wrapper--descripcion-visual {
  margin-top: 30px;
}

.link--banner-dinamico-btn-mobil {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.container--banner-dinamico-btn-mobil {
  background: #000;
  margin: 0 1px;
}

.link--wedding-categoria-title {
  color: #000;
  font-weight: bold;
  font-size: 22px;
}
.paragraph--wedding-descripcion {
  padding: 10px 30px;
}

@media screen and (max-width: 1024px) {
  .paragraph--modal-titulo-suscribete {
    font-size: 18px;
  }   
}
