.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 300px;
}

.productHighlightText {
    background: #000;
    color: #fff;
    /*border-radius: 0 10px 10px 10px;*/
    padding: 5px 10px;
    font-weight: 100;
    font-size: 11px;
}


@media screen and (max-width: 1024px) {
  .productHighlightText {
    font-size: 8px;
  }
}
