.container {
  max-width: 96rem;
  padding: 0 15px;
}

@media screen and (max-width:1024px){
  .container{
    margin: 45px 0 15px;
  }
}

.loginLink {
  color: #000;
  padding: 0;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #000000;
}

.star--empty {
  color: #000000;
}
