/*HEADER*/
.styledLinkContent--menu-title {
    font-size: 18px;
    letter-spacing: 0px;
    color: #000;
    font-weight: 600;
}

.styledLinkContent--menu-item {
    font-size: 11px;
    letter-spacing: 0px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.menuContainer--main-menu-header{
  display: flex;
  align-items: center;
}

.menuContainerNav--main-menu-header .styledLinkContainer {
  padding: 0;
  margin: 0 20px;
}

.styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Trade-Gothic";
  font-weight: 900;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold {
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {

  .styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold {
    flex-direction: column;
  }

  .styledLinkContent--text-bold{
    padding: unset;
  }

  .styledLinkContent--text-bold:hover{
    color: #808080;
  }
  .styledLinkContent--link-girl:hover{
    color: #808080;
  }
  .styledLinkContent--link-nuevos-modelos:hover{
    color: #808080;
  }
}

.submenuWrapper{
  margin-top: 10px;
  background-color: #000;
  z-index: 3;
}
.styledLinkContent--text-submenu{
  font-weight: bold;
  color: #fff !important;
  font-size: 1.125em
}

.menuItem--text-submenu{
  padding-bottom: 5px;
}


@media only screen and (max-width: 640px) {
  .styledLinkContent--text-submenu{
    color: rgb(0, 0, 0) !important;
  }
}

.styledLinkContent--text-submenu:hover{
  color: #808080 !important;
}

.styledLinkContainer--menu-title{
  padding: 0;
  margin: 0;
}

.styledLinkContainer--menu-item{
  display: inline-block;
  margin: 0;
}

.styledLinkContainer--menu-item:first-child{
  padding-top: 0;
}

/*footer*/

.menuContainerNav--menu-footer-container{
  width: 130px !important;
  margin-right: 30px;
}

.menuContainerNav--menu-footer-container-border{
  padding-bottom: 25px;
  border-bottom: 4px solid #000;
}

.menuContainerNav--container-submenu-drawer{
  width: 100%;
}

.menuItem--menu-title{
  margin-bottom: 15px;
}

.menuItem--menu-footer-title-mob {
  border-bottom: 1px solid #fff;
}

.menuItem--menu-footer-title-mob .submenuAccordion{
  padding: 0 !important;
}

.styledLinkContainer--menu-footer-title-mob {
  margin: 0;
  padding: 15px;
}

.styledLinkContent--menu-footer-title-mob{
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.styledLinkContainer--menu-footer-item-mob{
  color: #000;
  margin: 0 15px;
  padding: 0 0 10px;
}

.accordionIcon--menu-footer-title-mob{
  font-size: 0;
}

.accordionIcon--menu-footer-title-mob--isClosed::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.accordionIcon--menu-footer-title-mob--isOpen::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}


/*header mob*/
.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-container){
  background: #000;
}


.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-label),
.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-profile){
  display: block;
  padding: 0;
  color: #fff;
}

.menuContainerNav--container-submenu-drawer :global(.vtex-button):hover{
  background: transparent;
}

:global(.vtex-reviews-and-ratings-2-x-summaryButtonContainer){
  display: none;
}


@media screen and (max-width: 1024px){
  .menuItem--text-bold {
    border-bottom: 1px solid #ddd;
  }
}

.styledLinkContainer--text-bold{
  margin: 0;
  padding: 0;
}

.accordionIcon--text-bold{
  font-size: 0;
}

.accordionIcon--text-bold--isClosed::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.accordionIcon--text-bold--isOpen::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* PDP */

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer--agregar-al-carro){
    padding: 18px;
    /* font-family: TradeGothicLTStd-BdCn20; */
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}

:global(.vtex-numeric-stepper__plus-button){
  background-color: #000;
    color: #fff;
}

:global(.vtex-numeric-stepper__minus-button){
  background-color: #000;
  color: #fff;
}

.wrapper--sub-menu-title {
  font-weight: bold;
}