.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 22px;
  font-weight: bold;
}

.sellingPrice {
  color: #b20000;
  /*font-size: 1.25rem;*/
}

.sellingPriceValue {
  font-size: 22px;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
  font-weight: bold;
}

.savings {
  font-weight: 500;
  color: #9e9e9e;
  font-weight: bold;
  vertical-align: middle;
  /*text-decoration: line-through;*/
  font-size: 18px;
  height: fit-content;
  border-radius: 5px;
  font-weight: bold;
  background: #b20000;
  color: #fff;
  padding: 2px 10px; 
  text-align: center; 
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #000;
  border-radius: 1000px;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  position: absolute;
  right: 1px;
  width: 43px;
  height: 56px;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.savings--porcentaje-pdp {
  width: 40% !important;
}

@media screen and (max-width: 1024px) {
  .savings--summary {
    font-size: 9px;
    right: 1px;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    display: grid;
  }
}  