/*GENERAL*/
.flexRowContent {
  margin: 0;
  padding: 0;
}

/*CONTACT*/
.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

/*FAQ*/
.flexRowContent--faq {
  max-width: 860px;
  margin: auto;
}

/*product-specification-table*/
.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

/* .flexCol--productSpecificationName {
 margin-right: -1rem;
} */

.flexColChild--productSpecificationName{
  display: flex;
  align-items: center;
}

.flexRowContent--productSpecificationGroup, .flexRow--productSpecification, .flexRowContent--productSpecification{
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.flexRowContent--productSpecification .stretchChildrenWidth{
  width: auto !important;
  padding: 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

/*SEARCH*/
.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  color: #000;
}

/* .flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
} */

/* .flexCol--productRating {
  margin-bottom: 3rem;
} */

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexRow--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}

.flexColChild--summaryLeftListDesktop :global(.vtex-product-summary-2-x-imageContainer) {
  text-align: unset;
}

.flexRowContent--summaryDownDetailsListMobile {
  display: flex;
}

.flexRowContent--summaryDownDetailsListMobile .stretchChildrenWidth:last-child {
  margin-left: 5px;
}

/*DEFAULT*/

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}


.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

/*PLP*/
.flexCol--search-main-content{
  margin-left: 15px;
}

.flexColChild--productCountCol{
  display: flex;
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
  padding-left: 15px;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

/*end of PLP*/


.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/*FOOTER*/
.flexRowContent--footer-menu-row :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto !important;
}

.flexRow--main-footer-desk :global(.vtex-store-components-3-x-container){
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: none;
}

.flexRow--main-footer-desk{
  height: 420px;
  margin: 40px 0 0;
  border-top: 4px solid #000;
}

.flexRowContent--main-footer-desk{
  height: 100%;
  background: #fff;
  padding: 30px 15px;
  max-width: 96rem;
  margin: 0 auto;
}

.flexRowContent--footer-social-network-logo{
  margin-top: 15px;
  align-items: center;
}
.flexColChild--col-right-footer :global(.vtex-store-components-3-x-inputGroup){
  padding: 0;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-inputGroup) :global(.vtex-input-prefix__group){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-buttonContainer){
  padding: 0;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-newsletter){
  padding-bottom: 30px;
  border-bottom: 4px solid #000;
}

.flexRow--footer-main-content-mobile :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile {
  padding: 25px 15px 30px;
   border-bottom: 4px solid #000;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-inputGroup){
  display: flex;
  align-items: center;
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-input-prefix__group){
  height: 44px;
  border-radius: unset;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-form){
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .flexRow--footer-social-network-logo{
    padding: 15px;
  }
}

.flexRowContent--footer-social-network-logo{
  display: flex;
}

/*header*/

.flexColChild--container-login-header :global(.vtex-login-2-x-container) :global(.vtex-button__label){
  padding: 0;
}

.flexRow--espacio-gris {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: rgb(0, 0, 0);
  text-align: center;
}

.flexColChild--container-header-gral{
  justify-content: center;
    display: flex;
    align-items: center;
}

.flexColChild--container-login-header{
  justify-content: left;
  display: flex;
  align-items: center;
}

.flexColChild--container-login-header :global(.vtex-button):hover{
  background: transparent;
}

.flexRowContent--container-search-minicart{
  justify-content: flex-end;
}

.flexColChild--logo{
  display: flex;
  justify-content: center;
}

.flexRowContent--main-header-mobile{
  background-color: #ffffff;
}
.flexRowContent--container-logo{
  padding-top: 25px;
}

.flexCol--container-login-header :global(.vtex-login-2-x-label){
  color: #000;
  padding-left: 45px;
  font-weight: 700;
}

/*HOME*/

.flexRow--best-sellers-main-content{
  padding: 0 15px;
}

.flexRowContent--info-cards-main-container{
  margin-bottom: 80px 0;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--info-cards-main-container{
    margin-bottom: 50px 0;
  }
}

.flexCol--info-card-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15px;
  gap: 0 35px;
}

@media screen and (max-width: 1024px) {

  .flexCol--info-card-container-grid{
    grid-template-columns: 1fr;
    gap: unset;
  }
}

/*header mob*/

.flexRow--main-header-mobile{
  padding: 10px 15px 0;
}

.flexRow--main-header-mobile :global(.vtex-store-drawer-0-x-openIconContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-store-components-3-x-logoContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button__label){
  padding: 0;
}

.flexRow--search-mobile{
  padding: 0 15px 15px;
}

.flexRow--search-mobile :global(.vtex-store-components-3-x-searchBarContainer){
  padding: 0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  justify-content: space-between;
}

/*PLP*/

.flexRow--orderByAndSwitcher{
  padding: 0;
}

/*PDP*/
.flexCol--agregar-al-carro-container{
  margin: 20px 0px !important;
}
.flexCol--descripcion-del-producto{
  padding: 60px 20px ;
}

.flexCol--agregar-al-carro-container :global(.vtex-button){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}


.flexColChild--contenedor-derecho-pdp :global(.vtex-store-components-3-x-shareLabel){
  display: none;
}

.flexColChild--contenedor-derecho-pdp :global(.vtex-store-components-3-x-shareButtons){
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .flexCol--agregar-al-carro-container :global(.vtex-button) {
    transition: 0.3s;
  }

  .flexCol--agregar-al-carro-container :global(.vtex-button):hover {
    background: #999;
  }
}

/* PDP */

.flexRow--productSpecification{
  font-size: 18px;
}
.flexColChild--productSpecificationValue{
  font-weight: bold;
  text-transform: uppercase;
}

.flexRowContent--price-color .stretchChildrenWidth {
  width: auto !important;
}

/* METODOS DE PAGO */
.flexRowContent--contenedor-medios-de-pago{
  display: flex;
  justify-content: center;
    align-items: center
 }

/* Formulario Contacto */
.flexCol--form-contacto {
  justify-content: center;
  align-items: center;
}

.flexColChild--form-contacto {
    width: 50%;
}

@media screen and (max-width: 1024px) {
  .flexColChild--form-contacto {
    width: 80%;
    margin-bottom: 30px;
  }
}

.flexColChild--form-contacto :global(.vtex-input__label),
.flexColChild--form-contacto :global(.vtex-dropdown__label),
.flexColChild--form-contacto :global(.vtex-textarea__label) {
  display: none;
}

.flexColChild--form-contacto :global(.vtex-input-prefix__group),
.flexColChild--form-contacto :global(.vtex-styleguide-9-x-dropdown) {
  margin-bottom: 10px;
}

.flexColChild--form-contacto :global(.vtex-textarea__input) {
  font-size: 1rem;
}

.flexColChild--form-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* sandbox */
.flexRowContent--instagram-container{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 40px;
}

.flexCol--form-container-suscribete {
  padding: 30px;
}

.flexColChild--form-container-suscribete :global(.vtex-styleguide-9-x-dropdown) {
  margin: 10px 0 10px 0;
}

.flexColChild--form-container-suscribete :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: bold;
} 

.flexRowContent--form-container-suscribete-landing :global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 16px;
}

.flexRowContent--form-container-suscribete-landing .flexRowContent--newsletter-data-2 :global(.vtex-dropdown__caption) {
  font-size: 16px;
}

.flexRow--newsletter-data-2 {
  margin: 5px 0;
}

.flexRowContent--form-container-suscribete-landing :global(.vtex-styleguide-9-x-input){
  font-size: 16px;
}

.flexRow--texto-informativo {
    padding: 8px 24px;
    background: #E2F0F3;
}

.flexRowContent--msn-interbank {
  background: #f7f7f7;
  padding: 0 12px;
}

.flexColChild--sub-menu-col {
  height: auto !important;
}

.flexCol--container-tiendas-banner {
  border: solid 1px #000;
  margin: 0 5%;
  border-radius: 5px;  
}

.flexRow--tiendas-banner-seccion {
  margin: 20px 0; 
}

.flexRow--tiendas-titulo-maps {
  padding: 20px;
}
.flexCol--link-maps-button {
  background: #000;
  color: #fff;
  border-radius: 5px;
}
.flexColChild--container-socialLinks-footer {
  padding: 16px;
}
.flexCol--container-datos-apoderado {
  padding: 0 4%;
  margin: 12px 0;
  background: #f9f9f9;
}
.flexRowContent--disponibilidad-izquierda {
  margin: 15px 0;
  padding: 0;
  align-items: center;
}
.flexRowContent--disponibilidad-izquierda .stretchChildrenWidth {
  padding: 0;
}
.flexCol--contenedor-derecho-pdp {
  position: relative;
}
.flexRow--video-now-serving {
  margin: 50px 20px 0;
}
.flexCol--cambios-y-devoluciones-tabla {
  border: solid 1px;
}
.flexRowContent--newsletter-data-1 :global(.vtex-styleguide-9-x-input),
.flexRowContent--newsletter-data-2 :global(.vtex-styleguide-9-x-input),
.flexRowContent--newsletter-data-2 :global(.vtex-dropdown__caption){
  font-size: 11.5px;
}
.flexRowContent--newsletter-data-3 :global(.vtex-checkbox__label){
  font-size: 12px;
  top: 1px;
  position: relative;
}
.flexRowContent--newsletter-data-1 {
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.flexRowContent--newsletter-data-2 {
  justify-content: center;
  gap: 7px;
  align-items: center;
}
.flexRowContent--newsletter-data-3 {
  justify-content: center;
  align-items: center;
}
.flexCol--contenedor-derecho-pdp :global(.vtex-product-highlights-2-x-productHighlightText) {
    display: none;
}
.flexColChild--wedding-categorias-1 {
  margin: 0 2px 0 0;
}
.flexColChild--wedding-categorias-2 {
  margin: 0 1px 0 1px;
}
.flexColChild--wedding-categorias-3 {
  margin: 0 0 0 2px;
}
.flexRow--wedding-shelf {
  margin: 50px 0;
}
.flexRowContent--wedding-secciones {
  margin: 30px 0 0 0;
}
.flexColChild--wedding-secciones-1{
  margin: 0 4px 0 0;
}
.flexColChild--wedding-secciones-2{
  margin: 0 0 0 4px;
}


@media screen and (max-width:1024px){
  .flexRowContent--breadcrumb-pdp :global(.vtex-breadcrumb-1-x-container){
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
  }

  .flexRowContent--price-color {
    display: flex;
    align-items: center;
  }

  .flexCol--contenedor-derecho-pdp{
    padding: 0 15px;
  }

  :global(.vtex-store-components-3-x-skuSelectorNameContainer){
    margin: 0;
  }

  /*:global(.vtex-product-price-1-x-currencyContainer){
    margin-left: 15px;
  } */

  .flexRowContent--msn-interbank {
    display: flex;
    align-items: center;
    max-height: 100%;    
  }
  .flexCol--msn-interbank-txt {
    margin-right: 14px;
  }  
  .flexCol--container-tiendas-banner {
    margin: 5%;
  }  
  .flexRowContent--disponibilidad-izquierda {
      display: grid;
      grid-template-columns: auto auto;
  }   
  .flexCol--descripcion-del-producto{
    padding: 10px 20px ;
  } 
  .flexRowContent--container-price-pdp {
    display: flex;
    padding: 0 15px;
    margin: 10px 0 0;
  } 
  .flexRowContent--titulo-terminos-y-condiciones-mobil {
    display: flex;
  }  
  .flexRowContent--titulo-cambios-y-devoluciones-mobil {
    display: flex;
  }   
  .flexColChild--form-container-suscribete .flexRow--newsletter-data-3 .stretchChildrenWidth {
    margin: 20px 0;
  }      
  .flexRowContent--banner-dinamico-btn-mobil-container {
    margin: 0 0 20px 0;
  }
}