.link--info-card-link-container{
    margin: 15px;
}

.link--img-libro-de-reclamaciones {
    height: 86px;
    position: relative;
}  

@media screen and (max-width: 1024px) {
	.childrenContainer--img-libro-de-reclamaciones {
	  margin: 0 15px;
	}
}	