:global(.vtex-search-1-x-biggy-autocomplete){
    flex-direction: row-reverse !important;
    padding: 10px;
}

@media screen and (max-width:1024px){

    :global(.vtex-search-1-x-biggy-autocomplete){
        flex-direction: column !important;
    }

    .biggy-autocomplete-wrapper{
        width: 100vw !important;
        margin-left: 15px;
    }

    .tileListItem{
        width: unset !important;
        margin: 0 5px;
    }

    .image{
        width: 70px;
        height: auto;
    }

    .productBrand {
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
    }

}

:global(.vtex-store-components-3-x-searchBarIcon--clear){
    padding: 0;
}
:global(.vtex-store-components-3-x-autoCompleteOuterContainer) :global(.vtex-input__suffix){
    padding: 0;
}

.tileList{
    border-left: unset;
    border-right: 1px solid #eee;
}

.itemListTitle{
    font-family: "Trade-Gothic";
}

.tileListItem{
    flex: none;
    width: 150px;
    margin-right: 15px;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-priceContainer){
    padding: 0;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-information){
    justify-content: unset;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-imageNormal){
    max-height: 150px;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-nameContainer){
    padding: 0;
    margin: 1rem 0 0.5rem;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-currencyContainer){
    font-size: 16px;
    /* font-weight: 700; */
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-store-components-3-x-priceContainer){
    width: 100%;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-productBrand){
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-product-summary-2-x-productNameContainer){
    text-overflow: ellipsis;
    font-size: 16px;
}

.tileListItem :global(.vtex-product-summary-2-x-buyButtonText) {
    font-size: 0;
}

.tileListItem :global(.vtex-product-summary-2-x-buyButtonText)::after {
    font-size: 1rem;
    content: "Agregar a su carrito";
}

.biggy-autocomplete :global(.vtex-store-components-3-x-installmentsPrice),
.biggy-autocomplete :global(.vtex-rich-text-0-x-container--sinmarca) {
    display: none;
}

.biggy-autocomplete :global(.vtex-product-summary-2-x-brandName) {
    font-size: 1rem;
}
