/*DEFAULT*/
@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}


@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: .75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0,0,0,0.64);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}
/*END OF DEFAULT*/

.closeButton--modal-btn-close{
  position: absolute;
  top: -2px;
  right: 7px;
  /* padding: 10px; */
  width: 25px;
  height: 25px;
  border-radius: unset;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  z-index: 999;
}

.closeButtonLabel--modal-btn-close{
  padding: 0;
}

.closeButton--modal-btn-close:hover{
  background-color: unset;
  border-color: unset;
}

.closeButton--modal-btn-close::after{
  content: "";
  background-image: url(/arquivos/x-icon.png);
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
  /* filter: invert(1); */
}

.triggerContainer--guiadetallas {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1024px){
  .closeButton--modal-btn-close{
    top: -9px;
    right: 5px;
    padding: 10px;
  }

  .closeButton--modal-btn-close::after{
    width: 15px;
    height: 15px;
  }
}
