@font-face {
    font-family: 'firasans';
    src: url(assets/fonts/FiraSans/FiraSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'firasans';
    src: url(assets/fonts/FiraSans/FiraSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'firasans';
    src: url(assets/fonts/FiraSans/FiraSans-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'firasans';
    src: url(assets/fonts/FiraSans/FiraSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Trade-Gothic';
    src: url(assets/fonts/TradeGothic/Trade-Gothic-LT-Light.ttf);
    font-weight: 300;
}


@font-face {
    font-family: 'Trade-Gothic';
    src: url(assets/fonts/TradeGothic/Trade-Gothic-LT.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Trade-Gothic';
    src: url(assets/fonts/TradeGothic/Trade-Gothic-LT-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Trade-Gothic';
    src: url(assets/fonts/TradeGothic/Trade-Gothic-LT-Bold-Condensed-20.ttf);
    font-weight: 900;
}

